[2021-03-10 08:25] Abhishek-kumar09 opened #1 "Create Course Page"
Full Course page:
![My Courses](https://user-images.githubusercontent.com/48255244/110598690-0b5c0180-81a8-11eb-9aac-ed88b1419b7a.png)

Use Material UI  for creating components:
Material-ui: https://material-ui.com/
Ionic: https://ionicframework.com/docs/react

[2021-03-10 08:28] Abhishek-kumar09 opened #2 "Create course Details Page"
Full Page pdf:
[Course Details.pdf](https://github.com/codeforcauseorg/edu-client/files/6114374/Course.Details.pdf)

We are breaking this issues into several sub issues, you are required to solve subissues.
We are MAterial-ui and Ionic-React

[2021-03-10 08:32] Abhishek-kumar09 opened #3 "Create Hero for Course Detail Page"
Part 1 of #2

![image](https://user-images.githubusercontent.com/48255244/110599876-57f40c80-81a9-11eb-9bd9-70b242030abb.png)

Compoenents are required to be made with material-ui: https://material-ui.com/

[2021-03-10 08:36] Abhishek-kumar09 opened #4 "Create schedule view for course page"
Part 2 of #2

![image](https://user-images.githubusercontent.com/48255244/110600227-b5885900-81a9-11eb-8a8a-28ab578aedf3.png)

Please see the parent issue for full design and more information.

[2021-03-10 08:41] Abhishek-kumar09 opened #5 "Create Course Card components for Course Page"
Part 3 of #2

The component screenshot:
![image](https://user-images.githubusercontent.com/48255244/110600787-524af680-81aa-11eb-9fc0-5c087ed716d2.png)

Please see the parent issue for more details and full design

[2021-03-10 08:47] Abhishek-kumar09 opened #6 "Create a pull request Template"
Create a pull request that covers all the requirements for A perfect Pull request and is not limited to:
- Perfect code style check
- successful build
- No console errors
- No console warnings (sometimes)
- Pull request against branch name
- responsive UI
- Test case being passed

[2021-03-10 09:09] Abhishek-kumar09 commented on #6
Go ahead, thanks for your interest.

[2021-03-10 09:32] Siddhant-K-code commented on #6
we didn't have `Code_of_Conduct.md` or `Contributing.md` ?

[2021-03-10 10:11] AdityaTeltia commented on #1
I would like to work on this ! We have to build the UI as shown in the image right ? Can you give me more details about this issue

[2021-03-10 11:03] rizwan2000rm commented on #5
I would like to work on this issue.

[2021-03-10 13:24] rizwan2000rm commented on #3
Can I work on this issue @Abhishek-kumar09 ?

[2021-03-10 13:49] Abhishek-kumar09 commented on #3
Yes, go on.

[2021-03-10 14:10] rizwan2000rm commented on #1
Also @Abhishek-kumar09 I think there should only be a single card component right ? Just to maintain a consistency over the website. One of the card component here and in #5 looks the same. So we don't need two people working on the same card, one can use the component of other directly.

[2021-03-10 14:24] Abhishek-kumar09 commented on #1
Yes

[2021-03-10 14:28] AdityaTeltia commented on #1
Ok got it can you assign me this issue

[2021-03-10 15:03] faisaljamil25 commented on #4
Can I work on this issue @Abhishek-kumar09 ?

[2021-03-10 15:07] SUSHANT731 opened #8 "Need Help! - Not able to run project locally"
Command "start" not found.
after running the command yarn start

[2021-03-10 15:18] Ruchip16 commented on #5
@Abhishek-kumar09 Can I work on this issue ?

[2021-03-10 15:25] rizwan2000rm commented on #8
Hey @SUSHANT731 did you install the dependencies for the project ??
You might need to run "yarn" in your root directory to get all dependencies and then you can run "yarn start" to run the project.

[2021-03-10 15:26] Ruchip16 commented on #8
@SUSHANT731  I think maybe you haven't install yar package that's y it is showing

[2021-03-10 15:26] Ruchip16 commented on #2
@Abhishek-kumar09 Can I work on this issue ?

[2021-03-10 15:27] Ruchip16 commented on #4
Can I work on this issue @Abhishek-kumar09 ?

[2021-03-10 15:29] Ruchip16 commented on #4
I would like to work on this issue @Abhishek-kumar09

[2021-03-10 15:40] SUSHANT731 commented on #8
@rizwan2000rm @Ruchip16  I have insatall the yarn package in the root terminal and then executed the yarn start command what are the other dependencies required??

[2021-03-10 15:41] SUSHANT731 commented on #8
Can anyone share a video for the same that would be helpful??

[2021-03-10 16:07] #6 closed

[2021-03-10 16:08] ritvij14 commented on #2
@Abhishek-kumar09 hello! I came across this project from discord and would like to work on it. Can I work on this issue?

[2021-03-10 16:10] SankhaChak commented on #2
Hey @Abhishek-kumar09 , I would love to work on this issue.

[2021-03-10 16:10] SankhaChak commented on #4
Hey @Abhishek-kumar09 , I would love to work on this issue.

[2021-03-10 16:13] ritvij14 commented on #8
@SUSHANT731 first do `yarn install` and then do `yarn start`. It should work then.

[2021-03-10 16:16] Abhishek-kumar09 commented on #2
This is not the main issue to work on, It is distributed in several child issues they need to be solved to solve this parent issue.

[2021-03-10 16:18] AdityaTeltia commented on #1
What is this ionic framework link for ?

[2021-03-10 16:19] Abhishek-kumar09 commented on #8
Most probably you may be using npm.
So instaed of doing yarn start, you can run
[code]

Otherwise if you would like to work with yarn itself,
do:
[code]

[2021-03-10 16:20] Abhishek-kumar09 commented on #1
We are creating app with ionic framework to port the app in Mobile and iOS devices

[2021-03-10 16:25] AdityaTeltia commented on #1
Oh ok ! Do I have to do something in this issue regarding that or I just have to create this UI in react ?

[2021-03-10 16:30] Abhishek-kumar09 commented on #1
Create UI in react for now

[2021-03-10 16:31] AdityaTeltia commented on #1
Ok ! Sure Thankyou

[2021-03-10 17:24] rizwan2000rm commented on #3
@KeenWarrior @Abhishek-kumar09 I have started working on this issue. The fonts and colors has not been added to the repo yet. Also can someone ellaborate on trailer section of hero like is it a embeded video or a custom component ?

[2021-03-10 17:35] Abhishek-kumar09 commented on #3
It's an embedded video, that should play once clicked. It's a good npm package for doing it: https://www.npmjs.com/package/video-react

[2021-03-10 18:06] Abhishek-kumar09 commented on #1
Great, @Striver08. But this issue is already taken by Aditya, We will be creating new issues very soon.

[2021-03-10 18:09] raniyer commented on #2
@Abhishek-kumar09  since all the issues are taken, please do consider me for future issues. 🖌️

[2021-03-10 18:25] Striver08 commented on #1
Okay, Waiting for them.

[2021-03-10 19:09] #8 closed

[2021-03-10 20:24] ArchishmanSengupta opened #9 "[Feature Update] Adding a Search bar with Explore Courses DROPdown button instead of Courses"
![issue1](https://user-images.githubusercontent.com/71402528/110690375-ded8d180-8209-11eb-94a7-98009d261c74.png)

I propose to add a Extensive ```search bar``` consisting of the logo at the left side of the ``Explore DROPdown button.``

# The Explore Button will include all the necessary things inside it like:
1. Goals
2. Subjects
3. Personal Statistics (preferably integration with WAKATIME)
4. [E

[2021-03-10 23:54] avinash14022002 commented on #9
Wanted to work.

[2021-03-11 02:50] rizwan2000rm commented on #3
@Abhishek-kumar09 Looks like the video-react project is abandoned I found a better alternative called react-player:
https://github.com/cookpete/react-player
I added it works fine as we expect, it lazy loads the player on click also has pip mode.
Also what about fonts and colors is someone going to add colors in Material UI Theme ? I'm just using secondary color for now also added a tag for Roboto

[2021-03-11 03:33] Harshal0902 opened #12 "Create an issue templates"
I propose to make an `Issue Template`, which will includes weather the issue is a bug or feature request, etc.

I would like to work on this issue,  so @Abhishek-kumar09 can you please assignee this issue to me?

Thank you

[2021-03-11 04:41] ArchishmanSengupta commented on #9
@Siddhant-K-code please assign me the task

[2021-03-11 05:04] ritvij14 opened #13 "Create a Contribution guideline."
We can add a Contribution.md for the project which will help the people in setting up the project and also tell them how to contribute and go over the basic steps of how to contribute.
I would like to work on this one.

[2021-03-11 05:05] Kunal-2001 opened #14 "Logout Button Alignment Issue"
![Logout_Issue](https://user-images.githubusercontent.com/61347506/110737947-6cd9aa00-8254-11eb-82fd-6770db94650e.png)
### Issue
By Clicking on profile picture logout button pops up, but the allignment of this button is overlapping with the profile photo
### Fix
The logout button should have some margin on the top

**Can you please assign this issue so that I could fix this
Thank you**

[2021-03-11 05:18] harshshaw commented on #14
can i work on this?

[2021-03-11 05:29] harshshaw commented on #2
Can i work on learn something new and top pick cards ?@Abhishek-kumar09

[2021-03-11 05:34] harshshaw commented on #5
can i get assigned for this as well?
@KeenWarrior

[2021-03-11 05:58] Siddhant-K-code commented on #9
Only Maintainers Can Assign!

[2021-03-11 06:05] Siddhant-K-code opened #15 "Documentation Update"
- [ ] Basic of Fork,Clone & hitting a PR
- [ ] Setting up the Project Locally
- [ ] Code of Conduct
- [ ] Contributing Rules/Style (same as #13)

[2021-03-11 06:21] kaiwalyakoparkar commented on #15
Hey @Siddhant-K-code, I would like to work on this issue. Could you please guide me?

[2021-03-11 06:23] harshshaw opened #16 "Events page"
For now the Events page is showing no info so we can add
1.  A carousel for Events pictures
2. Image cards for Events with basic info
3. Contact area

[2021-03-11 06:34] ArchishmanSengupta commented on #9
@KeenWarrior please assign me the task

[2021-03-11 06:34] Siddhant-K-code commented on #15
## Basic of Fork, Clone & hitting a PR

It is pretty basic, you just have to add steps for a beginner-friendly ( initial steps you did to fork, clone into your system, creating a PR, upstream commands for updating forked repo with the original repo. ) with Screenshots.

## Setting up the Project Locally

 Yarn Commands we ran to install dependencies and running it on localhost:

`yarn install`

if

[2021-03-11 06:38] kaiwalyakoparkar commented on #15
does this project work with npm so that I can add that too?

[2021-03-11 06:38] Siddhant-K-code commented on #16
Yes, I guess we should create at least the major outlines on every page like `./events`, `./campusLeaders`

[2021-03-11 06:39] kaiwalyakoparkar commented on #15
Please assign this issue to me. I would like to work on this.

[2021-03-11 06:41] harshshaw commented on #16
@Siddhant-K-code  yes we can add routes to it please provide a template or design if u have to work accordingly

[2021-03-11 06:45] Siddhant-K-code commented on #15
Just Go Through the Project Once.

And, Remember this thing for all Similar Tech Stack Projects:

[code]

[2021-03-11 06:58] Siddhant-K-code opened #17 "Add prettier & make it auto format the code during commit"
It could easily coexist with eslint

https://indepth.dev/posts/1282/setting-up-efficient-workflows-with-eslint-prettier-and-typescript

[2021-03-11 06:58] ritvij14 commented on #15
@Siddhant-K-code isn't this just what  #13 asks to do? I can make the issue more descriptive if you want.

[2021-03-11 06:58] Siddhant-K-code commented on #17
i would like to add this.

[2021-03-11 07:08] ritvij14 commented on #15
@Siddhant-K-code I can take up the `Contributing.md` part, and then I will close #13 which asks for the same task. Can you assign that part to me? (You could tag me in the issue description for making that doc, so that way we know who is working on what part)

[2021-03-11 07:12] Siddhant-K-code commented on #15
@ritvij14 made the changes, will add your name beside it when you will get assigned by maintainers.

[2021-03-11 07:16] faisaljamil25 commented on #17
I would like to work on this issue.

[2021-03-11 07:37] Grumpyyash commented on #14
I think the login feature has been removed for now in the codebase @Kunal-2001

[2021-03-11 07:42] KeenWarrior commented on #14
These features are to be shifted to the profile page. You can put a logout button on ProfileView.

Use Button from Material-UI

[2021-03-11 07:49] Grumpyyash opened #19 "Add a feature request template"
Since the project is in its initial development phase, it would be good to have a feature-request template while proposing any new or additional features.

I am working on this and will soon generate a PR for the same

[2021-03-11 07:54] Abhishek-kumar09 commented on #5
One person is enough for solving the issue, We will be creating  newer issues very soon

[2021-03-11 07:57] KeenWarrior opened #21 "Add placeholder login page and limit user from seeing content without login"
![image](https://user-images.githubusercontent.com/25343183/110754214-8e935b00-826d-11eb-92ef-a4c086269545.png)

[2021-03-11 07:58] Abhishek-kumar09 commented on #2
It is adressed in https://github.com/codeforcauseorg/edu-client/issues/5

[2021-03-11 07:59] kaiwalyakoparkar commented on #15
Hey @Siddhant-K-code , I tried to run the project on my local machine using npm as well as yarn for yarn it is showing the error as follow:
yarn run v1.22.10
$ react-scripts start
'react-scripts' is not recognized as an internal or external command,
operable program or batch file.
error Command failed with exit code 1.

[2021-03-11 08:02] avinash14022002 commented on #21
Can i work?

[2021-03-11 08:02] Abhishek-kumar09 commented on #3
Okay react-player is also good, we can play youtube videos right inside it. Does it have controls too.
I have added theme.

[2021-03-11 08:03] avinash14022002 commented on #21
Is the application in java or kotlin?

[2021-03-11 08:05] atharmohammad commented on #21
@KeenWarrior  I would like to work on this issue

[2021-03-11 08:06] atharmohammad commented on #21
It is in react

[2021-03-11 08:09] kaiwalyakoparkar commented on #15
Ok I am just setting up the project on my local machine. I will get back to you as soon as I finish exploring the project

[2021-03-11 08:10] KeenWarrior commented on #21
You can take the login from https://github.com/codeforcauseorg/edu-client/tree/master/src/layouts/MainLayout/TopBar

[2021-03-11 08:11] Siddhant-K-code commented on #19
you should get assigned first!

[2021-03-11 08:14] Grumpyyash commented on #19
Sorry! I'll take care of it from next time.

[2021-03-11 08:16] KeenWarrior commented on #16
Those pages are not part of the plan and were left there for some testing reason. Have been removed now.

[2021-03-11 08:16] #16 closed

[2021-03-11 08:24] ArchishmanSengupta commented on #9
@KeenWarrior please assign me this

[2021-03-11 08:47] harshshaw commented on #21
@KeenWarrior Can i work ...or please can u assign any upcoming issue to me , my Event issue was closed ... i would love to contribute if assigned any

[2021-03-11 08:49] kaiwalyakoparkar commented on #15
There was a problem in package.json in react scripts:
  "react-scripts": "^4.0.3", was written as   "react-scripts": "4.0.3", that gave error while running in local machine

[2021-03-11 08:55] kaiwalyakoparkar commented on #15
Hey I set up the project in my local environment. I tried both npm and yarn to run the project in localhost:3000. Both are working super fine. both yarn.lock and package-lock.json are present in the project. What should I do next?
Also,
There was a problem in package.json in react scripts:
"react-scripts": "^4.0.3", was written as "react-scripts": "4.0.3", that gave error while running in local ma

[2021-03-11 09:22] kaiwalyakoparkar commented on #15
Please assign this to me I am super excited to do all 4 tasks

[2021-03-11 09:27] Kunal-2001 commented on #14
@KeenWarrior Is there any template sample for profile view as for now the authentication feature is removed from the app ??

[2021-03-11 09:29] Striver08 commented on #14
I would like to work on this issue, @KeenWarrior You can assign the same to me.

[2021-03-11 09:33] rizwan2000rm commented on #3
@Abhishek-kumar09 Yes it does have all controls like volume, fullscreen and play/pause.
Here is what hero looks like now
![Course Details Responsive Hero](https://user-images.githubusercontent.com/48753482/110764386-01560380-8279-11eb-825b-027194206890.png)

@KeenWarrior
But after pulling the recent changes I'm having issues with scrolling. Even testing on different page, the issue still persists.

[2021-03-11 09:34] Abhishek-kumar09 commented on #3
Create a PR and I will look to it.

[2021-03-11 09:39] Siddhant-K-code commented on #15
what was the error?

[2021-03-11 09:41] kaiwalyakoparkar commented on #15
It was a syntax error for version or react scripts

[2021-03-11 09:42] kaiwalyakoparkar commented on #15
I resolved that by npm install react-scripts command which also update the pacage-lock.json file

[2021-03-11 09:43] Siddhant-K-code commented on #15
yeah, it's okay. also, did you face ESOCKETTIMEOUT err ?

[2021-03-11 09:44] kaiwalyakoparkar commented on #15
after that, it runs on localhost server

[2021-03-11 09:44] kaiwalyakoparkar commented on #15
No

[2021-03-11 09:45] Siddhant-K-code commented on #15
your `yarn.lock` should also get updated!! will create a PR for the same.

[2021-03-11 09:45] kaiwalyakoparkar commented on #15
But we can add steps to resolve it in the documentation section

[2021-03-11 09:47] kaiwalyakoparkar commented on #15
Yes it does gets updated when we run yarn install react scripts

[2021-03-11 09:52] Abhijay007 opened #24 "Storybook Env setup for writing stories for existing complements"
It is a feature request related to the environment setup of the storybook in the project edu-client.

### ***Let me first explain what storybook UI is?***

Storybook UI is an open-source tool for developing UI components in isolation for React. read more about it [here](https://storybook.js.org/)

### ***what does it mean by isolation***

By isolation, it means that it doesn't affect the flow of t

[2021-03-11 09:53] Abhijay007 commented on #24
@KeenWarrior @kunal-kushwaha @Abhishek-kumar09 sir what are your thoughts on this?

[2021-03-11 09:54] atharmohammad commented on #21
@KeenWarrior  When authenticating via google it returns user object but I can't find access token ,Can you tell me what should I store in local storage to get logged in

![ggg](https://user-images.githubusercontent.com/56029409/110768943-aecb1600-827d-11eb-9943-28ba3fe16773.PNG)
![ggg2](https://user-images.githubusercontent.com/56029409/110768992-bbe80500-827d-11eb-979f-64baf73b0223.PNG)

[2021-03-11 09:57] AdityaTeltia opened #26 "Add License to the Project"
Adding MIT License to the project

[2021-03-11 10:04] #12 closed

[2021-03-11 10:07] #26 closed

[2021-03-11 10:12] Abhijay007 commented on #24
One thing more that the storybook is not limited to just UI representation it also has some amazing features which will be very helpful throughout the project.

[2021-03-11 10:16] Abhishek-kumar09 commented on #24
1. It kind of looks good to me, but we are already using Material-UI for designing components,and I I don't know if there are performance difference too. Whenever we are automatic things for making process simpler for creator, it comes out as a tradeoff for performance.

2. And can't understand the term that it could be be made in isolation of react.

3. Do you have any repo and website that shows

[2021-03-11 10:19] NishcheyBhutani commented on #14
I am a newbie....I would like to work on this issue....please assign it to me!? @KeenWarrior @Kunal-2001

[2021-03-11 10:29] rajatgupta24 opened #27 "Bottom Navigation Button"
Hi @Siddhant-K-code ,
Text of button doesn't change with the size, we should use css instead of material-ui (so that we can use "rem")
![image](https://user-images.githubusercontent.com/55191777/110772608-cc9a7a00-8281-11eb-80cb-c234aaab0818.png)

[2021-03-11 10:31] rajatgupta24 opened #28 "Typo error"
Hi @Siddhant-K-code,
BottomNav.js file in "client/src/layouts/MainLayout/" is BoottomNav.js
I think i should change it.

[2021-03-11 10:38] Abhijay007 commented on #24
@Abhishek-kumar09 Sir, it is not a frontend framework like material UI it is very different from that. Sir check out [this repo](https://github.com/brightpixels/my-component-ui-library) to see this in action and checkout [this](https://storybook.js.org/)  (official site) link also

Sir by isolation I mean that our main react workflow didn't get affected like we use material UI for the frontend par

[2021-03-11 11:15] dhwaj1902 opened #30 "scrollable list in Wishlist page."
The present wishlist page does not scroll.

[2021-03-11 11:17] VenomFate-619 commented on #21
@atharmohammad token is stored as tokenId
You refer this
`const googleSuccess = async (res) => {
    const result =  res?.profileObj
    const token = res?.tokenId
    try {
        dispatch({ type:"AUTH" , payload:{ result , token } })
        history.push('/')
    } catch (error) {
      console.log(error);
    }
  }`

[2021-03-11 11:28] atharmohammad commented on #21
@VenomFate-619  Can you tell me which file it is in

[2021-03-11 11:30] KeenWarrior commented on #30
@dhwaj1902 Please elaborate on this

[2021-03-11 11:35] KeenWarrior commented on #28
Sure. Go ahead

[2021-03-11 11:36] aflah02 commented on #28
Hey @KeenWarrior I fixed this issue and was just going to file a pull request when I saw this what should I do now?

[2021-03-11 11:39] KeenWarrior commented on #28
@aflah02 Whenever you find an issue. Before filing PR.

First, create an issue and get it assigned to yourself.

In case of a minor issue like this ( changes less than few lines ), you can self-assign as well. But creating an issue is important before starting.

[2021-03-11 11:40] aflah02 commented on #28
Ohkk I'll keep that in mind i'll leave this to @rajatgupta24 then.
Thanks @KeenWarrior

[2021-03-11 11:40] aflah02 opened #31 "Making a Step by Step Guide to locally clone and set up the project"
A step by step guide along with screenshots showing how to clone and locally run the project using npm commands can be helpful for beginners looking to contribute to basic stuff but don't know how to setup this locally

[2021-03-11 11:41] KeenWarrior commented on #27
@rajatgupta24 Material-UI is an indispensable tool for us. You all always use CSS with mui. Take a look around the internet to learn how.

[2021-03-11 11:42] #31 closed

[2021-03-11 11:42] aflah02 commented on #31
Seems it's already being covered in another Issue

[2021-03-11 11:46] KeenWarrior commented on #24
Sounds Good.

Two questions?
 1. What is the time expense of implementing it.
 2. How easy it would be to remove it at a later stage if neede.

[2021-03-11 11:48] KeenWarrior commented on #30
Is it the same problem with other pages as well? What is your analysis, why is it happening?

[2021-03-11 11:49] #19 closed

[2021-03-11 11:59] rajatgupta24 commented on #27
Ok @KeenWarrior  then I'll use CSS to change mui styles

[2021-03-11 12:06] dhwaj1902 commented on #30
I have solved Wishlist page scroll and for the other pages I am checking.

[2021-03-11 12:08] #30 closed

[2021-03-11 12:10] Abhishek-kumar09 commented on #30
Oh @dhwaj1902 Really sorry I saw your comment little late, the fix is merged in https://github.com/codeforcauseorg/edu-client/commit/44c916fa4fe8eeeea6b2eaebe08aa036fc01e1c6

[2021-03-11 12:32] aks1809 opened #33 "Header and Navbar for the application"
A header along with a navbar which are responsive and provide a user name and login and logout buttons.

[2021-03-11 12:49] kaiwalyakoparkar commented on #15
https://github.com/kaiwalyakoparkar/edu-client/tree/documentation

[2021-03-11 12:55] kaiwalyakoparkar commented on #15
I have also added Contributing.md, Code-of-conduct.md and all you asked. Also I have made changes which fixed the previous errors

[2021-03-11 13:03] Striver08 commented on #33
I would like to work on this

[2021-03-11 13:06] aks1809 commented on #33
Actually I was thinking of working on this and was waiting for approval.

[2021-03-11 13:07] NishcheyBhutani commented on #14
?? @Kunal-2001 @KeenWarrior

[2021-03-11 13:20] Abhishek-kumar09 commented on #15
Please create a PR, We will discuss the rest there.

[2021-03-11 13:33] kaiwalyakoparkar commented on #15
ok

[2021-03-11 13:37] Kunal-2001 commented on #14
@NishcheyBhutani Actually I am working on this

[2021-03-11 13:51] #13 closed

[2021-03-11 13:52] NishcheyBhutani commented on #14
oh alright! my bad

[2021-03-11 13:57] rajatgupta24 opened #37 "Can't scroll the wishlist section"
## Describe the bug
A clear and concise description of what the bug is.
The Wishlist section card at the end is overlaped by the bottom navbar
![image](https://user-images.githubusercontent.com/55191777/110797501-26f60380-829f-11eb-8090-81dcba85f9c6.png)

## To Reproduce
Steps to reproduce the behavior:
1. Try to scroll the wishlist section.

## Environment (please complete the following informati

[2021-03-11 14:11] rizwan2000rm commented on #37
Yes in layout there is just a paddingTop for navbar. Adding vertical padding something like "64px 0" fixes this issue.

[2021-03-11 14:40] rajatgupta24 commented on #37
@KeenWarrior Should I make a PR

[2021-03-11 14:40] #28 closed

[2021-03-11 14:42] Abhijay007 commented on #24
@KeenWarrior sir it is a simple package it hardly takes 1 hour to set up but the main process is writing stories which can be implemented throughout the project as the codebase grows with time new components will be introduced in the project so we need to write stories from those components time to time. Means time expense varies with the project time span.

2. As it works in isolation it wouldn't

[2021-03-11 15:27] ADRE9 opened #39 "Create swipeable views to swipe to change between the pages."
## Adding Swipeable Views
Since the app is focused for mobile we can use in-built feature of material-ui to make the views swipeable . Swipeable in the sense that the user can navigate through the pages swiping left or right.

## React-swipeable-views
To be able to make the views swipeable .We need to drop React Routing from the views. If the team is not planning on lazy loading the pages or code

[2021-03-11 15:30] ADRE9 commented on #39
## The code structure some what looks like this.
![Screenshot 2021-03-11 205947](https://user-images.githubusercontent.com/49809895/110811488-bf46b500-82ac-11eb-9466-b2f14d5b37fe.jpg)

[2021-03-11 16:15] KeenWarrior commented on #24
We can take this forward

[2021-03-11 16:16] SankhaChak commented on #4
Thanks @Abhishek-kumar09 , looking up to the upcoming issues 😀

[2021-03-11 16:19] Abhijay007 commented on #24
@KeenWarrior sir thanks for assigning me this I will soon open a PR for this !!

[2021-03-11 16:20] ADRE9 commented on #39
Routing is not possible with this approach. @Abhishek-kumar09 . Can you look into it?

[2021-03-11 16:28] KeenWarrior commented on #39
Routing shall be possible with this. Take a look around. You will find something.

[2021-03-11 16:31] KeenWarrior commented on #33
@Abhishek-kumar09 We will discuss the design in the coming meeting. But I feel the header would not good way with the current design.

[2021-03-11 16:32] KeenWarrior commented on #33
Login will be the first action and logout from a course app is not frequent and need not be on the very top.

[2021-03-11 16:52] KeenWarrior commented on #39
Try this https://www.npmjs.com/package/react-swipeable-routes

[2021-03-11 17:12] aks1809 commented on #33
Is there a way I could get some design that is intended for the website or perhaps could communicate with you guys to develop figma designs?

[2021-03-11 19:37] ADRE9 commented on #39
Sure I am on it! Thanks for the lead. I'll follow.

[2021-03-11 20:54] ADRE9 commented on #39
I have a doubt @KeenWarrior the MainLayout intstead of being used once why as it wrapping every view? Was there any specific reason behind that? Since for every Page it is using same component. It's redundant.

[2021-03-12 02:30] Abhishek-kumar09 commented on #39
`MainLayout` is a layout, it is wrapped around various views to put those views under a layout.

If it is something that is hidering you from creating swipeable views, then we can think of some workaround.

[2021-03-12 07:01] #15 closed

[2021-03-12 07:10] ADRE9 commented on #39
Yes actuall y the react-swipeable-routes has been integrated and works perfectly after I removed the MainLayout ,since you are using Switch so at any give time there's only one page showing so wrapping the MainLayout around the switch does the job. It introduces one problem though that the bottom navigation doesn't update according to the page.

[2021-03-12 07:27] harshshaw opened #44 "Wishlist Alignment and Scrollable issue"
## Describe the bug
At present the wishlist section is not scrollable and also the alignment could be made better , font sizes are too small to be read
## To Reproduce
Steps to reproduce the behavior:
1. bring whole list in an aligned div
2. Bring scrollability to the page
3. Use better font weight and size
![Screenshot (84)](https://user-images.githubusercontent.com/51969606/110906718-5a35a280-83

[2021-03-12 07:33] harshshaw opened #45 "Myclasses / Moreoption crash"
## Describe the bug
In myclasses section when we click on More option the page has no return button or no info available due to this we have to reload the page again

## To Reproduce
Steps to reproduce the behavior:
1. Check for issue
2. Introduce some info
3. Make a redirecting route to Myclass when clicked on back button

## Before clicking More options
![Screenshot (85)](https://user-images.git

[2021-03-12 07:48] rizwan2000rm commented on #39
@KeenWarrior @ADRE9  Also we might need to test this properly on mobile devices. This may hinder with gestures in full screen mode which most of mobile devices use. It would really be annoying If somebody wants to go back but instead it changes routes. A work around I can think of is wrap swipeable routes to only navigation bar or leave the certain width from edges if using the whole viewport heig

[2021-03-12 07:51] Siddhant-K-code commented on #45
What will be your approach to fix this?

[2021-03-12 08:08] harshshaw commented on #45
Right now the value rendered in tabpanel is zero

## Code
export default function CoursePageViewWithVideo() {
  const classes = useStyles();
  const [value, setValue] = React.useState(0);

  const handleChange = (event, newValue) => {
    setValue(newValue);
  };

so we should render some value to Moreoptions since we have a handlechange method but it doesnt seem to work correctly for Moreoption t

[2021-03-12 08:09] ArchishmanSengupta opened #46 "Profile Page not made [Static]"
## Describe the bug
The Profile Page is not made
![issue3](https://user-images.githubusercontent.com/71402528/110910904-f7dfa080-8337-11eb-8468-992ab5549641.png)

## To Reproduce
Steps to reproduce the behavior:
1.  Inserting Card-Profile Feature:

- UserName
- email
- courses on going
- payment details
- DOB(age restriction according to policies)

You can assign me this task!

[2021-03-12 08:12] rajatgupta24 opened #47 "Create Upcoming section in Home"
## Need a section to display upcoming courses.

## Create a new section in home
We should show some upcoming events or course in home.

We can create a new section under the "continue learning".

[2021-03-12 08:18] rajatgupta24 opened #48 "Add: about us page"
Hi @KeenWarrior @kunal-kushwaha ,
We should add:

- About us page
- Terms & condition
- Privacy policy

Can I work on them.

[2021-03-12 08:25] aflah02 opened #50 "Fix some small mistakes in the README and add some hyperlinks"
In the README there are some minor mistakes such as spelling or grammar which I can fix.
Secondly I propose adding links for the technologies being used so people can access them quickly.
I can work on this

[2021-03-12 08:30] kunal-kushwaha opened #51 "Add Credits Section in README.md for contributors"
Have a credits section in our `README.md` file like [this](https://github.com/facebook/jest#credits) to recognise contributors in the project.

[2021-03-12 08:34] Harshal0902 commented on #51
@kunal-kushwaha can I work on this issue?

[2021-03-12 08:36] kunal-kushwaha commented on #51
@Harshal0902 Go for it!

[2021-03-12 08:38] aflah02 commented on #50
Oh sorry forgot to tag
@KeenWarrior @kunal-kushwaha

[2021-03-12 08:40] kunal-kushwaha opened #52 "Rename default branch to main"
Rename default branch name to `main` from `master`

[2021-03-12 08:41] ArchishmanSengupta commented on #52
can i work on this?

[2021-03-12 08:42] kunal-kushwaha commented on #50
@aflah02 Go for it, could you also maybe move the section from [here](https://github.com/codeforcauseorg/edu-client#-setting-up-locale-environment) till [here](https://github.com/codeforcauseorg/edu-client#-creating-a-pull-request) in the CONTRIBUTING.md file?

[2021-03-12 08:44] kunal-kushwaha commented on #52
Resolved 😄

If you have a local clone you can update it using:

[code]

[2021-03-12 08:44] #52 closed

[2021-03-12 08:45] harshshaw commented on #51
@kunal-kushwaha please consider me for upcoming issues also i have raised a few

[2021-03-12 08:49] aflah02 commented on #50
@kunal-kushwaha yeah sure i'll do that

[2021-03-12 08:56] ADRE9 commented on #39
Yes @rizwan2000rm  you are absolutely right. We need to first integrate and then test and improvise. We need to be careful so as not to create ambiguity in navigation.

@Abhishek-kumar09 can I make a PR for integrating the Swipeable routes and then create another issue to update the bottom navigation according to the page?

[2021-03-12 09:08] harshshaw commented on #45
@Siddhant-K-code @KeenWarrior @kunal-kushwaha  please look into this

[2021-03-12 09:34] kaiwalyakoparkar opened #54 "Adding tags to Readme.md file"
## Problem faced
The Readme file still lacks some information. The short information will let the user / contributors get a quick glance of the projec.

## Describe the solution you'd like
Adding shield.io tags will help the Readme File to me more specific for users

[2021-03-12 09:34] kaiwalyakoparkar commented on #54
Please assign this issue to me so that I can start working on it!

[2021-03-12 09:39] ArchishmanSengupta commented on #54
suggestion: you can also add screenshots of the website(figma design)

[2021-03-12 09:54] symaticvisuals commented on #51
@kunal-kushwaha I also want to work on this issue. Can I?

[2021-03-12 10:05] kaiwalyakoparkar commented on #54
Yeah but those screenshots will obviously with the admin so...

[2021-03-12 10:22] #4 closed

[2021-03-12 10:25] #17 closed

[2021-03-12 10:37] himanshu211raj commented on #48
@kunal-kushwaha @KeenWarrior @Abhishek-kumar09 can i work on this issue?

[2021-03-12 10:38] himanshu211raj commented on #47
@KeenWarrior @kunal-kushwaha @Abhishek-kumar09 can i work on this section?

[2021-03-12 10:48] nitinosiris commented on #48
I would like to work on this issue too!

[2021-03-12 10:51] Abhishek-kumar09 commented on #47
![Android - 8](https://user-images.githubusercontent.com/48255244/110930034-a2fb5480-834e-11eb-8a29-784afdbeec31.png)
This is the initial homepage design Where are you planning to add upcoming courses?
If you want to suggest design changes, and add more, you are welcome for that.

[2021-03-12 10:56] himanshu211raj commented on #47
@Abhishek-kumar09 Above continue learning

[2021-03-12 10:57] Abhishek-kumar09 commented on #48
Start with creating a docs layout, just like we have MainLayout. You can learn more about this from here: https://github.com/codeforcauseorg/codeforcause.org/tree/development/src/layouts

You all can work on this issue together by delegating tasks, or @rajatgupta24 can also work alone since he created it and asked for assignment.

[2021-03-12 11:08] abhishekkumar08 opened #55 "refractor:prettify all the files of the repo"
## Description
The repo contains many eslint and prettier errors, the command ```npm run format``` prettified all the files. I'm hoping to solve all the eslint errors.
Should I make a PR for this?
The files affected after prettifying were:
[code]

[2021-03-12 11:12] Abhishek-kumar09 opened #56 "Add splash screen inside Android/iOS Application."
## What is feature
We want to have a splash screen for the ionic aplication when opened in android or iOS.

## Describe the solution you'd like
Adding splash screen, requires a bit of ionic/ capacitor knowledge:
https://ionicframework.com/docs/native/splash-screen
.

[2021-03-12 11:16] Abhishek-kumar09 commented on #55
Hey, @abhishekkumar08
We can better add prettier to the repo: https://www.npmjs.com/package/prettier
So whenever w e will run npm run format, It will automatically format the whole code.
We had already integrated prettier in codeforcause/codeforcause repo. You can have a look there.

[2021-03-12 11:19] Abhishek-kumar09 commented on #39
Sure, go on. We will see the rest during the implementation.

[2021-03-12 11:20] Siddhant-K-code commented on #55
was saying the same in #17

[2021-03-12 11:20] abhishekkumar08 commented on #55
It's already there in this repo also, I only ran the command, seems like no one has used it till now. So asking to create a PR for the same.

[2021-03-12 11:21] himanshu211raj commented on #56
can i add a splash screen using flutter? @Abhishek-kumar09

[2021-03-12 11:23] Abhishek-kumar09 commented on #55
Yes look like he created the PR and didn't ran it.

@abhishekkumar08 You can create a PR for the same.

[2021-03-12 11:26] Abhishek-kumar09 commented on #56
How would you integrate flutter inside ionic application, I don't think there is some ways of doing that if I am not wrong, flutter is framework cum sdk and requires its own seperate environment for building and running cross platform applications.

[2021-03-12 11:37] himanshu211raj commented on #56
sorry i got some misconception.

[2021-03-12 11:42] ArchishmanSengupta commented on #54
You can always ask. I think they will provide you

[2021-03-12 11:44] Abhishek-kumar09 commented on #56
No problem, thanks for showing your interest.

[2021-03-12 12:19] rizwan2000rm opened #59 "Issues with lock files."
## Describe the bug

Some people are using npm and some are using yarn. I think it is not recommend to have both lock files. They could have sync issues. I looked into it to find a better mix yarn/npm experience.

## Possible Solution

I think we could use yarn import to have a smooth mixed npm/yarn environments.
https://classic.yarnpkg.com/blog/2018/06/04/yarn-import-package-lock/
https://classic

[2021-03-12 12:40] faisaljamil25 commented on #55
Actually, there were some issues running lint that's why I did not run it. I was waiting for any maintainer's reply for the same. Now since @abhishekkumar08 has run it which solved most of the issues, still there are some issues that need to be sorted. I have also solved some of them but some errors required your guide to solve. I am creating a PR #61  for the eslint errors which I have already so

[2021-03-12 12:45] Jeevan-Kiran-Lenka opened #62 "Adding a step of npm install in readme.md"
As I was setting my dev environment, I followed up the procedure that was given in the documentation apparently the command of `npm install`  or `npm install -g npm-install-missing` is missing, adding that step will help newcomers to set up the dev environment easily and quickly, and also can check the project in deployment mode

[2021-03-12 12:46] Jeevan-Kiran-Lenka commented on #62
I would like to work on this issue

[2021-03-12 12:47] rajatgupta24 commented on #47
Hi @Abhishek-kumar09,
I think this design is almost same of what I'm thinking of,
Is someone currently working on this or can I contribute here.
Thanks

[2021-03-12 13:19] ADRE9 commented on #39
Okay before pulling I would like to discuss all the changes I've made in the structure. @Abhishek-kumar09 @KeenWarrior
1.I removed the Switch component as ReactSwipeable was doing the same thing either way.
2. I removed out the MainLayout component from every page since it was unnecessary and redundant.
3. I added the MainLayout over the ReactSwipeable component.
4. I had to use useEffect to updat

[2021-03-12 14:06] nitinosiris commented on #46
@ArchishmanSengupta are you working on it?

[2021-03-12 14:13] ArchishmanSengupta commented on #46
on my forked repo yes, waiting for @kunal-kushwaha / @Abhishek-kumar09 to assign me this

[2021-03-12 14:15] nitinosiris commented on #46
okk

[2021-03-12 15:51] #55 closed

[2021-03-12 16:45] #21 closed

[2021-03-12 17:32] Jeevan-Kiran-Lenka opened #69 "Adding Multiple languages"
## Is your feature request related to a problem? Please describe.
It would be nice if the repo has a Readme. MD for different, I know that it's not necessary at this moment and there are plenty of other issues to work on but it would make our community more welcomed for people who are from different communities and thus the **Code for Cause** can grow a lot from it

A clear and concise description

[2021-03-12 17:46] Striver08 commented on #56
I would like to work on this issue, Can you please ellaborate it a bit

[2021-03-12 19:50] Kaushal-Dhungel opened #72 "Documentation missing installation of dependencies from package.json using 'npm install' / 'yarn install'"
## Describe the bug
As per the documentation, after cloning the repository and setting up the remote, one can type 'npm start' / 'yarn start' in terminal directly and the project starts running but instead of running, the command gets terminated with 'react-scripts: not found' warning.

## To Reproduce
Steps to reproduce the behavior:
1. Fork the repo.
2. Clone the repo.
3. Set up the remote as pe

[2021-03-12 20:08] symaticvisuals opened #73 "The bottom navigation icons look outdated and want to work on new ones."

[2021-03-12 20:09] #73 closed

[2021-03-12 20:11] symaticvisuals opened #74 "Bottom Navigation Design"
## The Bottom navigation buttons can be updated with a more modern design.

![2021-03-13 01 37 55 localhost 89c546d66e16](https://user-images.githubusercontent.com/59753906/110993309-2774c400-839d-11eb-8ee4-b9e807f63d3a.png)

[2021-03-12 20:11] symaticvisuals commented on #74
@kunal-kushwaha can I work on this?

[2021-03-12 23:47] rizwan2000rm opened #75 "ESLint: react-scope-in-jsx is not required in React v17"
#### As per the React v17 new JSX Transform, we can use JSX without importing React in each and every file.

## Additional context

We should disable the rule "react-scope-in-jsx" from eslint from the project. Also remove all the react imports from every file.

[2021-03-13 04:10] rajatgupta24 commented on #37
@Abhishek-kumar09 @KeenWarrior can you please review the #60

[2021-03-13 04:13] kaiwalyakoparkar commented on #54
Yeah sure. @KeenWarrior & @kunal-kushwaha could jive more valuable insights on this

[2021-03-13 04:23] AdityaTeltia commented on #75
I would like to work on this !

[2021-03-13 05:39] kaiwalyakoparkar commented on #62
From next time please don't pull a request on any issue without getting assigned to it

[2021-03-13 06:20] Jeevan-Kiran-Lenka commented on #59
Can I work on it?

[2021-03-13 06:26] #37 closed

[2021-03-13 06:27] Abhishek-kumar09 commented on #37
Fixed in https://github.com/codeforcauseorg/edu-client/pull/60

[2021-03-13 06:51] Abhishek-kumar09 commented on #59
Good catch @rizwan2000rm
I guess https://github.com/codeforcauseorg/edu-client/pull/76 will solve the issue, so from now  yarn's lock file will be ignored by github. Still we need npm lock file for deployement and github actions so didn't removed that.

Sorry I saw your comment late @Jeevan-Kiran-Lenka.

[2021-03-13 07:01] RohankumarM commented on #47
We could elaborate on the idea of the homepage.

The containers can be in the following order:

1. Recommended Courses
2. Top Courses
3. Upcoming Courses

All these should

[2021-03-13 07:12] RohankumarM opened #77 "Adding 1-1 interview using webRTC"
It takes a lot of money to invest just to prepare yourself for an interview so why not users get a chance to interview each other by sharing their video, audio, and screen in a 1 - 1 fashion.

We could use technology like WebRTC to implement this feature. The interview process will not be limited to just solving data structures and algorithms related problems but could include much more.

[2021-03-13 07:40] Itsaadarsh commented on #77
Yes, @RohankumarM this sounds great as I have previously worked with webRTC technology where I used SFU architecture to build multi-party audio rooms. So if the maintainers want this feature to be integrated into the platform I'd glad to work on it.

And as it is going to have 1-1 room there will not be a load on our servers too as we can make use of P2P architecture (Peer-To-Peer) which is the co

[2021-03-13 07:42] Itsaadarsh commented on #44
@harshshaw I'd get started with it right away if it's not already been taken.

[2021-03-13 07:52] Jeevan-Kiran-Lenka commented on #77
@Itsaadarsh I very much agree with this idea

[2021-03-13 07:53] Jeevan-Kiran-Lenka commented on #72
It's solved, I guess

[2021-03-13 07:55] Jeevan-Kiran-Lenka commented on #62
I asked the maintainers to review the issue yesterday, but then the newcomers were getting an error on error due to this single line therefore I PR'ed

[2021-03-13 07:55] #62 closed

[2021-03-13 07:59] Jeevan-Kiran-Lenka commented on #59
No issues @Abhishek-kumar09

[2021-03-13 08:56] rizwan2000rm commented on #59
@Abhishek-kumar09 Yeah that would fix it. Closing this issue.

[2021-03-13 08:56] #59 closed

[2021-03-13 09:07] RohankumarM commented on #77
Definitely @Itsaadarsh. I have also have worked with WebRTC and I just love its architecture and I think this feature would be in demand. But before moving ahead, we just need to make sure the UI of this feature is user-friendly because that will be the main factor.

[2021-03-13 10:25] rajatgupta24 commented on #47
Hi @KeenWarrior, is somebody currently working on the Home page, can I be of some help.

[2021-03-13 12:10] Striver08 commented on #56
@Abhishek-kumar09 Can you assign it to me.

[2021-03-13 12:11] #39 closed

[2021-03-13 12:20] Abhishek-kumar09 commented on #56
Splash screens are screens that shows up when someone app is just starting and the app has not finished loading. Like you see in any android application.

You have to add a splash screen for this application too.
You can refer: https://ionicframework.com/docs/native/splash-screen
or may also watch some youtube videos demonstrating it.

[2021-03-13 12:24] Abhishek-kumar09 commented on #47
@RohankumarM it looks good.

[2021-03-13 12:24] Abhishek-kumar09 commented on #47
Who is working on it?

[2021-03-13 12:28] RohankumarM commented on #47
Thanks @Abhishek-kumar09. If no one is working, I could probably start today.

[2021-03-13 13:14] Anurag5086 opened #79 "Create a .env file to store config keys"
Create a .env file to store config keys of firebase auth.

[2021-03-13 13:16] Anurag5086 commented on #79
@Abhishek-kumar09 @KeenWarrior @kunal-kushwaha  Please assign it to me. I would like to work on this.

[2021-03-13 13:33] Striver08 commented on #56
Thanks a lot, I'll do it. @Abhishek-kumar09

[2021-03-13 13:53] #3 closed

[2021-03-13 14:30] kaiwalyakoparkar commented on #79
But what would you add to it? Or you will make a pr just by adding a .env file?

[2021-03-13 14:33] kaiwalyakoparkar commented on #54
@KeenWarrior / @kunal-kushwaha please assign this issue to me

[2021-03-13 17:14] rajatgupta24 commented on #47
@Abhishek-kumar09  I'd like to work on this, @RohankumarM we can work on this together.

[2021-03-13 18:57] Abhishek-kumar09 commented on #33
Login is managed in a seperate page.

Closing this issue to get hold of newer issues.

Please open it anytime if required.

[2021-03-13 18:57] #33 closed

[2021-03-13 19:00] Abhishek-kumar09 commented on #9
On which page you are planning to add this?

[2021-03-13 21:33] ADRE9 opened #83 "Bottom Navigation doesn't update according to the page."
## Describe the bug
The bottom navigation for the website doesn't update according to the page.

## To Reproduce

Steps to reproduce the behavior:

1.useEffect hook to update the value of the navigation each time according to the location will keep it updated.

## Expected behavior
The Navigation will update each time the page changes.

## Environment (please complete the following information):

[2021-03-13 21:39] ADRE9 commented on #83
@kunal-kushwaha @Abhishek-kumar09  can I work on this issue?

[2021-03-14 01:29] Siddhant-K-code commented on #9
I think, on Home Page

[2021-03-14 03:38] #24 closed

[2021-03-14 05:03] ArchishmanSengupta commented on #9
yes home page

[2021-03-14 06:00] RohankumarM commented on #47
Any updates @rajatgupta24 ?

[2021-03-14 06:52] rajatgupta24 commented on #47
Hi @RohankumarM,
Yeah I create the search bar and working on horizontal scroll, then I think I'll add cards (courses).
What you say?

[2021-03-14 07:02] Itsaadarsh commented on #77
Hey @Abhishek-kumar09, how do we get started with implementing this feature? Like do we wait for the whole UI/UX to be completed or we just start building this feature on the go? And on the other hand, we would also need to make a few commits on the `edu-server` repository in order to build this feature. Because the P2P architecture requires an initial handshake to take place which will be process

[2021-03-14 07:55] Abhijay007 opened #84 "Add favicon and title to the react app."
Currently, the edu-client react app has official `react logo` as a favicon and `react app` as a title.  Edit that to CFC- codeForCause official logo (shown below in "after" snip from the official site)and change the title to codeForCause-edu.

***before***

![react-fav](https://user-images.githubusercontent.com/64387054/111061146-dad9d780-84c7-11eb-91f4-c850d63c11ba.PNG)

***after***
![cfc-fav](ht

[2021-03-14 07:57] Abhijay007 commented on #84
@KeenWarrior @Abhishek-kumar09 sir can I implement this?

[2021-03-14 08:25] rizwan2000rm commented on #83
@ADRE9 I think this issue has been fixed with d6908d91447b37582f99383772175ebc62809e68

[2021-03-14 08:43] rajatgupta24 commented on #83
If this issue is resolved, please close it.

[2021-03-14 09:09] ADRE9 commented on #83
Yes , I created this issue yesterday and @KeenWarrior  has solved it today. So thanks @rizwan2000rm for pointing it out.

[2021-03-14 09:09] #83 closed

[2021-03-14 10:34] san0808 opened #87 "confusion"
![image](https://user-images.githubusercontent.com/72181610/111065183-68c0bd00-84de-11eb-8586-fbdc1e86505a.png)
I thought the main idea of project was to create a platform where one can take live classes ,take tests ,upload notes and bea education system between a teacher and the student
but the pic shows something else
please just tell me the idea i thought of was wrong or the code was meant to b

[2021-03-14 10:35] Abhishek-kumar09 opened #88 "Remove all errors from development console"
**Describe the bug**
Application has  a lots of console errors on the browser console window. We can fix it by doing some minor tweaks in code style.

## To Reproduce

Steps to reproduce the behavior:

1. Start the application with npm run start
2. Head over to console window once application is live on localhost
3. These are the errors and warnings we can get rid of.

## Expected behavior

There

[2021-03-14 10:37] rizwan2000rm commented on #88
I would like to work on this issue.

[2021-03-14 10:40] Abhishek-kumar09 commented on #87
Sorry @san0808 but it seems like you have opened a different project.

It is not edu-client and trust me edu-client goals is to empower education and learning culture for the development of society.

Please let me know if you have any other confusion.

Please follow the issue-template while creating an issue so that we could be provided with more knowledge of the real matter.

[2021-03-14 10:55] san0808 commented on #87
![image](https://user-images.githubusercontent.com/72181610/111065739-40868d80-84e1-11eb-8b7e-c812311c81ac.png)
is this not the project (sorry if i am rude in any way i am pretty new in using node.js i tried using this in development mode with the help of readme and google search)
![image](https://user-images.githubusercontent.com/72181610/111065807-a246f780-84e1-11eb-9622-54318719fb2b.png)
I used

[2021-03-14 10:56] Abhishek-kumar09 commented on #77
You can start working without design, I have added the making of design of interview session page in the task pipeline. It will be available soon.

But for now we can start working on the actual problem without thinking of designs.

yes, sure. It is built on nestJs and typescript. Let me know if you need some help with that.

[2021-03-14 11:02] Abhishek-kumar09 commented on #87
Not at all, thanks for raising your doubt btw.

You are running an old project version. Maybe you have cloned the repo in the very initial phase of development.

So we had took some part of the appbar from the codeforcause website for testing and running signIn feature and that's why you can see the appbar with headers.

Please rebase your project to latest main branch, it has all the latest chang

[2021-03-14 11:05] Abhishek-kumar09 commented on #84
We will be running this application in android and iOS application, so we may not be needing those since making appIcon and splash screens would cover those parts. Still if you want you can work on it.
For now change the name to educause :)

[2021-03-14 11:06] Abhishek-kumar09 commented on #84
We will be needing a new icons/favicon too maybe we can halt this issue for now.

[2021-03-14 11:10] Abhijay007 commented on #84
ok, No problem sir, close it for now, I will try to contribute to other parts of the project :)

[2021-03-14 11:13] Abhishek-kumar09 commented on #84
Thanks for raising the issue, I will tag you to complete this part once we have required assets.
I am closing it for now.

[2021-03-14 11:13] #84 closed

[2021-03-14 11:37] Abhijay007 opened #89 "Add navbar with static pages"
## Is your feature request related to a problem? Please describe.

currently, there is no navbar on the top of the application for the web app and android app of the project. we can add a navbar with logo and link to static pages like about us, contact, etc.

***screenshots***

web app
![no_nav](https://user-images.githubusercontent.com/64387054/111066881-526b2f00-84e7-11eb-9e44-870d306b9da1.PNG)

[2021-03-14 12:11] rajatgupta24 opened #90 "Add shadow to navbar"
I think we should add some shadow to the top of the bottom-navbar.
![image](https://user-images.githubusercontent.com/55191777/111067824-f2c35280-84eb-11eb-9e04-9a8d6b0246e2.png)

[2021-03-14 12:31] faisaljamil25 opened #92 "Create Course Description"
## Is your feature request related to a problem? Please describe.

On the course details page, 'course description' and 'after course' sections are still left to implement. Reference - #1 #2

## Describe the solution you'd like

'Course description' component and 'after course' component can be made to complete the course details page.

![Screenshot 2021-03-14 174918](https://user-images.githubuse

[2021-03-14 12:32] Abhijay007 commented on #89
@KeenWarrior @Abhishek-kumar09 can I work on this?

[2021-03-14 12:32] faisaljamil25 commented on #92
I would like to work on this issue. Please assign this to me @Abhishek-kumar09

[2021-03-14 12:40] san0808 commented on #87
ok thanks bro

[2021-03-14 12:43] Abhishek-kumar09 commented on #87
Okay, cool. I am closing this issue.

[2021-03-14 12:43] #87 closed

[2021-03-14 12:44] Abhishek-kumar09 commented on #92
Please go on.

[2021-03-14 14:18] ArchishmanSengupta commented on #9
@Abhishek-kumar09 bhaiya will the nav bar be in bottom permanently?

[2021-03-14 14:48] Abhishek-kumar09 commented on #9
![image](https://user-images.githubusercontent.com/48255244/111072842-5e181f00-8502-11eb-9ba1-578105c5205e.png)

Homepage has already a search bar designed.

[2021-03-14 14:49] Abhishek-kumar09 commented on #9
Yes, ideally it should be

[2021-03-14 15:15] ADRE9 commented on #39
@Abhishek-kumar09 its still has the tag of discussion-ongoing. Can you please make it as approved, please. And thank you so much for guiding me through and rectifying my bugs . This was my first major PR , although I have much experience with react , I had never worked in a team before. Thanks for being patient and guiding me. I'm learning loads from my mistakes and your guidance.

[2021-03-14 15:44] ArchishmanSengupta commented on #9
Then i can make that in the wishlist section

[2021-03-14 17:32] ADRE9 opened #93 "Create the Landing Page ."
## Is your feature request related to a problem? Please describe.
Create a Landing page with the option of Sign in With Google properly implemented.

## Describe the solution you'd like
Create a beautiful landing page that has the option of Sign In With Google

[2021-03-14 17:33] ADRE9 commented on #93
@Abhishek-kumar09 Is there any file that shows how exactly the landing page should look? If yes, can I work on this issue?

[2021-03-14 17:52] Abhishek-kumar09 commented on #93
A dummy login page is already there that supports sign In with google. We are currently only accepting  google sign-in.

[2021-03-14 18:29] ADRE9 commented on #93
Yes I saw, So is there no plan to enhance it? If you have any ideas can you please share, I can work on it.

[2021-03-15 01:48] poojadas07 commented on #90
I want to work on this issue. @Abhishek-kumar09  Can you please assign this issue to me?

[2021-03-15 04:13] Itsaadarsh commented on #77
Alright then I'll get started right away, and can you also assign this to me?

[2021-03-15 04:51] RohankumarM commented on #77
@Itsaadarsh If you need any help you can definitely reach out to me.

[2021-03-15 08:43] Abhishek-kumar09 commented on #90
Please go on

[2021-03-15 08:47] Abhishek-kumar09 commented on #93
It definately needs a lot of enhancement.
@ADRE9 Have you worked with figma before?

Can you share your design.

Or if you have not worked with figma, you can implement this design too, will make the more enhancement on top of it if needed. Please always make design that adheres to current app theme.

[2021-03-15 08:49] Abhishek-kumar09 commented on #54
Hi @kaiwalyakoparkar, could you explain what are the informations that the current readme is lacking and you can add.

[2021-03-15 08:55] Abhishek-kumar09 commented on #89
@Abhijay007 The app is more for mobile, We can add some web functionalities once the mobile 1st version is completed. I guess bottomnavbar will suffice all the requirements for mobile screens.

There will be some screens which will not be having bottomnavabar, there we would be adding topbar.

The topbar's code is already here: https://github.com/codeforcauseorg/edu-client/tree/main/src/layouts/Ma

[2021-03-15 09:05] Abhijay007 commented on #89
ok, no problem, and thanks for letting me know about it. I will try to focus more on the mobile version from now and try to contribute to that. you can close this issue.

[2021-03-15 09:14] Abhishek-kumar09 opened #95 "Bottom navbar get hidden when scrolled down."
## Describe the bug

Bottom nanvbar is hidden when scrolled down to the limit
This bug may have introduced here: https://github.com/codeforcauseorg/edu-client/pull/63

## To Reproduce

Steps to reproduce the behavior:

1. Open application in development mode.
2. scroll down to bottom and bottom navabar will be disappeared once.

## Environment (please complete the following information):

- OS: Ub

[2021-03-15 09:16] Abhishek-kumar09 commented on #89
Thanks @Abhijay007 , We will be first completing the mobile view because the motive is to create a cross platform hybrid application with capacitor, once done will be focusing on adding some extra features to make it compatible for Web versions too.

Thanks for opening the issue.

[2021-03-15 09:16] #89 closed

[2021-03-15 09:20] Abhishek-kumar09 commented on #74
Hi @symaticvisuals Could you please tell us what are the design changes you would like to have.

[2021-03-15 09:22] Abhijay007 commented on #95
@Abhishek-kumar09 can I work on this?

[2021-03-15 09:23] Abhishek-kumar09 commented on #14
Hi @Kunal-2001 I guess it is not needed anymore since we would be having only bottomnavbar in most of the screens. We would be needing some screens with appbar but current appbar with minimal changes would suffice the need.

Thank you for opening the issue.
I am closing it for now. But in any case if you need to open it again feel free to do so.

[2021-03-15 09:23] #14 closed

[2021-03-15 09:24] Abhishek-kumar09 commented on #27
closed in #78

[2021-03-15 09:24] #27 closed

[2021-03-15 09:30] Abhishek-kumar09 commented on #45
Hi @harshshaw , the app majorly focuses on mobile view.

It was the problem with the bottom navbar which was fixed, please pull the latest code from the main repo. And verify if it still exist.

Feel free to open a new issue or current one, if you come out with some new problems.
I am closing it for now.

[2021-03-15 09:30] #45 closed

[2021-03-15 09:31] Abhishek-kumar09 commented on #95
Sure go on. Let me know if need some help. You can also seek some help from @ADRE9.

[2021-03-15 09:32] Anurag5086 commented on #79
Sure. Thanks. @Abhishek-kumar09

[2021-03-15 09:32] Abhishek-kumar09 commented on #69
@KeenWarrior ping!

[2021-03-15 09:33] symaticvisuals commented on #74
Actually the jcon styles of the navigation using react icons

[2021-03-15 09:34] Abhishek-kumar09 commented on #46
@ArchishmanSengupta I will be sharing you the profile page design once completed. Thanks for opening th e issue.

[2021-03-15 09:34] Abhijay007 commented on #95
Ya sure. And Thanks for assigning this to me I will try my best order to solve this.

[2021-03-15 09:35] Abhishek-kumar09 commented on #74
Okay are you gonna dd some svg in place of that? or you want to modify the current styles of the icons

[2021-03-15 09:38] symaticvisuals commented on #74
I want to modify the current styles, I have found the library for that, will be looking to integrate it.

[2021-03-15 09:38] rizwan2000rm commented on #74
@symaticvisuals We already have material-ui icons and I don't think we need react icons.

[2021-03-15 09:39] symaticvisuals commented on #74
Oh ok sure, Actually I was going through the designs so had this suggestion

[2021-03-15 09:39] ArchishmanSengupta commented on #46
@Abhishek-kumar09 okay

[2021-03-15 09:47] Abhishek-kumar09 commented on #39
Thanks for kind words @ADRE9

[2021-03-15 09:47] rizwan2000rm opened #96 "React Swipeable Routes also has Course Details Page"
## Describe the bug

I think React Swipeable Routes should not be wrapped around the Course Detail Page.
Once visiting the /course/:id route one can swipe beyond the Profile Page.

## To Reproduce

Steps to reproduce the behavior:

1. Visit /course/:id route once
2. Now you can swipe backwards and forwards from this page (i.e. swipe right from Profile Page to go to  Course Detail page and vice ver

[2021-03-15 09:50] symaticvisuals commented on #74
Ok, so should I close this issue?

[2021-03-15 09:50] ADRE9 commented on #96
@Abhishek-kumar09  can I work on it? It needs a small fix.

[2021-03-15 09:53] ADRE9 commented on #93
Yes I have good experience with both Figma and Adobe. I was thinking of making a glassmorphism design bit it won't match the overall app theme. Can you give me a day to sort out a good design and I'll share the link to figma. If you agree I can start working on it. @Abhishek-kumar09

[2021-03-15 10:01] Jeevan-Kiran-Lenka commented on #69
@KeenWarrior any thoughts on this ?

[2021-03-15 11:02] Anurag5086 commented on #79
@Abhishek-kumar09 please check my PR for this issue. #97

[2021-03-15 11:42] kaiwalyakoparkar commented on #54
Hi @Abhishek-kumar09, I am thinking about adding https://shields.io/ tags that will give an insight into the project to the user at a glance. Like building, languages, version, no of forks, no of stars, open PR's, social accounts, code coverage, analysis, chat, etc. You can check all the fields from the link above.

[2021-03-15 13:11] rajdeep-ghosh commented on #51
@kunal-kushwaha I would like to work on this issue

[2021-03-15 18:56] #79 closed

[2021-03-16 05:24] Abhishek-kumar09 commented on #54
That's a good idea

[2021-03-16 05:40] Abhishek-kumar09 commented on #93
Yes, please. We can make the design of landing page first.

[2021-03-16 05:43] Abhishek-kumar09 commented on #96
Thanks @rizwan2000rm for opening this issue.

[2021-03-16 05:45] kaiwalyakoparkar commented on #54
I'll start working on it !

[2021-03-16 06:09] aflah02 commented on #50
@kunal-kushwaha I've done this thrice already it works and then some other requests get merged and a conflict ensues.

[2021-03-16 07:29] NeelParihar opened #104 "[Bug] Env variable in authService Api key not matching with key defined in .env.example"
## Describe the bug

In services/authService.js  the env key for firebase api key is **REACT_APP_FIREBASE_API_KEY** but in .env.example the key is defined as **REACT_APP_API_KEY**, this does not allow the application to connect with firebase.

## To Reproduce

Steps to reproduce the behavior:

1. Clone the project, install all the dependencies.
2. copy .env.example to .env file, put your firebase

[2021-03-16 08:17] Anurag5086 commented on #104
@NeelParihar I made a PR for this issue.

[2021-03-16 10:31] ADRE9 commented on #93
![iPhone X-XS-11 Pro – 1](https://user-images.githubusercontent.com/49809895/111294776-aa816d00-8670-11eb-8b78-538cfdfa48df.png)

I have made this design for the mobile in Adobe XD. Any changes required @Abhishek-kumar09 ?

[2021-03-16 19:57] #95 closed

[2021-03-16 19:59] #51 closed

[2021-03-17 01:44] poojadas07 commented on #90
![Capture](https://user-images.githubusercontent.com/66192403/111401965-54eca500-86f0-11eb-9afb-de022b1fc656.PNG)
Now it is looking like this. @Abhishek-kumar09 please have a look.

[2021-03-17 05:51] san0808 opened #109 "the opening page is reloading for a long (it is still loading)"
![image](https://user-images.githubusercontent.com/72181610/111421329-cccbc700-8712-11eb-89fd-a5f03d257c36.png)
the opening page seems to have a bug
i would like to see into it if it is actual bug please @mentor tell me so that i can proceed

[2021-03-17 06:05] #109 closed

[2021-03-17 06:08] san0808 commented on #104
has thr pr been not merged yet because i am still getting the problem @Anurag5086

[2021-03-17 06:26] Anurag5086 commented on #104
@san0808 Not yet. Please merge the PR #105 @Abhishek-kumar09 @rajatgupta24 .

[2021-03-17 10:30] Amulya-coder opened #110 "Create a user-story.md file in Issue template"
## Is your feature request related to a problem? Please describe.
Currently Issue template has only bug template and feature template but there is one more user story template which helps contributors to create the development plans and work tasks issues.

## Describe the solution you'd like
Add user story template and write the documentation.

## Additional context
For more details read [this](ht

[2021-03-17 10:30] Amulya-coder commented on #110
@Abhishek-kumar09 I would like to work on this.

[2021-03-17 10:57] ADRE9 commented on #96
@Abhishek-kumar09 I have made the PR.

[2021-03-17 11:34] Abhishek-kumar09 commented on #93
Okay, that looks good.
the red variant would be: `#A60000` and blue variant we are using is `#150051`

I will add it in the theme too, but for now you can start your progress

[2021-03-17 11:37] #54 closed

[2021-03-17 11:46] Abhishek-kumar09 commented on #77
Hi @RohankumarM Any specific reason for closing this issue? We should close this once the feature is merged in main code.

[2021-03-17 11:46] ADRE9 commented on #93
Okay. I picked the indigo[600] color from the theme.js file only. And the red colour used is the Google Theme used for Google buttons. I'll change it to the colors you want and more enhancements we can add accordingly.

[2021-03-17 11:47] #90 closed

[2021-03-17 11:51] RohankumarM commented on #77
@Abhishek-kumar09 I hit close by mistake. No worries. Eargerly waiting for the feature to be added.

[2021-03-17 12:03] Itsaadarsh commented on #77
@RohankumarM The work has already begun client-side logic is mostly done, I just need to figure out `nestjs` on the server-side and how to use WebSockets in `nestjs` once I figure that out I'll send a PR.

[2021-03-17 12:31] RohankumarM commented on #77
@Itsaadarsh Impressive. Did you try using express with nextjs? Would be easier that way I guess.

[2021-03-17 13:35] Amulya-coder opened #112 "docs: Include license section in Readme"
## Is your feature request related to a problem? Please describe.
Mention about the license under which the organization follows in the readme separately

## Describe the solution you'd like
Add license section in the readme this is a great way to encourage more free, open-source code.

## Additional context
Here's the link: https://github.com/codeforcauseorg/edu-client/blob/main/LICENSE

[2021-03-17 13:35] Amulya-coder commented on #112
@Abhishek-kumar09  it's a few minutes issue I would like to take this.

[2021-03-17 15:40] RohankumarM opened #113 "Open VScode editor in browser to view the source code better"
**This is not an issue.**

Just making your life easier.

[code]

[2021-03-17 18:33] Abhijay007 opened #114 "Text wrap in bottom Nav actions."
## Describe the bug

In the contents of the bottom nav, the text for the "My class" label gets wrapped for smaller android screens when the user switches between contents of the bottom nav, which leads icon for my class uplifted a bit higher (seems like overflowing)  as compared to other icons which sets a bad UI example.

## To Reproduce
Steps to reproduce the behavior:

1.swipe between the conte

[2021-03-17 18:34] Abhijay007 commented on #114
@Abhishek-kumar09 can i work on this ?

[2021-03-17 18:46] ishandeveloper opened #115 "Inconsistent UI [Attached Mockups]"
## Is your feature request related to a problem? Please describe.

Currently, switching between different screens/menu items feels abrupt, mugged up and unpolished. Each screen is entirely different from one another and it's not a great overall experience.

## Describe the solution you'd like
Having some clear and concise mockups, UI designs, so that the web app, looks & feels more polished and co

[2021-03-17 22:56] ADRE9 commented on #93
![Screenshot 2021-03-18 042321](https://user-images.githubusercontent.com/49809895/111549169-c20c4300-87a1-11eb-90be-419a87506c51.jpg)
@Abhishek-kumar09 I have added the neumorphic card to make it look more elegant. My previous PR of React Swipeable has not merged so my commits are added to the PR of React Swipeable Routes. Is there any more changes required?

[2021-03-18 01:19] poojadas07 commented on #115
@Abhishek-kumar09 Can I work on this issue ?

[2021-03-18 07:11] rajatgupta24 commented on #27
I think it isn't fixed yet.
![image](https://user-images.githubusercontent.com/55191777/111586666-2dc4cf00-87e7-11eb-9530-7be746d18e59.png)

[2021-03-18 07:14] rajatgupta24 commented on #114
@Abhijay007 I reported this earlier & just create a PR regarding this.

[2021-03-18 08:00] Abhijay007 commented on #114
Nice!! 😁 as you opened a PR for this issue but from next time At least
take mentor's permission before opening a PR . At least give mentors some
time to review issue once and approve it!!

On Thu, 18 Mar 2021, 12:44 Rajat Gupta, ***@***.***> wrote:

[2021-03-18 08:07] Harshal0902 opened #117 "Back to top button"
## Is your feature request related to a problem? Please describe.

Adding a back to top button.

## Describe the solution you'd like

A button to return to the top of the page allows the user to quickly return to the top of the page without making too much effort.

## Additional context

NA

[2021-03-18 08:08] Harshal0902 commented on #117
@Abhishek-kumar09 can I work on this issue?

[2021-03-18 09:01] poojadas07 commented on #115
@Abhishek-kumar09 You have any other UI design then please share so that I can start working on this.

[2021-03-18 09:25] rajatgupta24 commented on #114
@Abhijay007, I reported this earlier #27 and was assigned

[2021-03-18 09:28] PrashubhAtri commented on #117
Can i Work on this @Abhishek-kumar09

[2021-03-18 10:03] Abhijay007 commented on #114
Ok

On Thu, 18 Mar 2021, 14:55 Rajat Gupta, ***@***.***> wrote:

[2021-03-18 13:11] Deveshb15 commented on #50
Can I work on this?

[2021-03-18 13:11] Deveshb15 commented on #50
@kunal-kushwaha can I work on this?

[2021-03-18 14:54] helloCodingEra commented on #46
@Abhishek-kumar09 I m very new here (no contribution  yet) can i work on this issue ??

[2021-03-18 15:44] piyush-cosmo opened #119 "[Feature Update] Adding `Recommendation System`, `ChatBot`, `Speech Recognition` and `Text Classification` to the app"
As Machine Learning is revolutionizing the world, I would like to discuss some features which I would like to add to make this app more accessible and user friendly.

## Features

*  **Recommendation System** - According to users preference, the courses will be presented to the user to make him more engaged towards learning through this app as the main motto of this app is education.
*  **ChatBot*

[2021-03-18 15:46] piyush-cosmo commented on #119
@KeenWarrior @kunal-kushwaha @Abhishek-kumar09 Can you please look over these features?

[2021-03-18 15:49] NishcheyBhutani commented on #46
@Abhishek-kumar09 could u pls assign this to me if no one's Working on it?

[2021-03-19 06:44] #96 closed

[2021-03-19 06:49] #5 closed

[2021-03-19 06:51] #1 closed

[2021-03-19 06:51] #2 closed

[2021-03-19 07:00] Anurag5086 commented on #119
I would like to work on ChatBot feature.

[2021-03-19 09:49] Abhijay007 commented on #114
bug still exists for smaller screens:

![bug-remains](https://user-images.githubusercontent.com/64387054/111761916-6edfe080-88c6-11eb-90fd-1fefeddc56ce.gif)

[2021-03-19 09:49] Abhijay007 commented on #114
@Abhishek-kumar09  can I work on this?

[2021-03-19 10:53] Aayush-hub commented on #119
@piyush-cosmo Its a great idea! Would love to work in it :)

[2021-03-19 13:43] helloCodingEra commented on #15
@Abhishek-kumar09 there are still some mistakes in the documentation which i want to correct it can i do that ??
and also guide me with it

[2021-03-19 17:33] Abhijay007 opened #121 "UI Bug in Header Item Box section"
## Describe the bug

In the header item box section when the user opens the application in smaller devices(width between 280 to 320px) like I phone 5, galaxy fold, etc. then the box content gets overflowed and makes UI inconsistent as it takes more space than required on the right side of the app.

## To Reproduce

Steps to reproduce the behavior:

1. open chrome inspect element
2. open mobile vie

[2021-03-19 18:23] adarsh-technocrat opened #122 "Suggestions for implementing UI to the application."
**Description**

The proposal is focusing on adding a User Interface to the Application. the `Edu-client `app is in its initial stage as there is no flow of how the application will look and what all feature needs to be implemented though there is some specific feature that's been approved and more to be added in future, according to the use case of the application the UI/UX can be modified.

Init

[2021-03-20 01:36] kunal-kushwaha commented on #122
Thanks for sharing! They name is not Educult by the way.

[2021-03-20 03:14] poojadas07 commented on #121
@Abhishek-kumar09 Yeahh, I also got the same problem. Can I work on this issue?

[2021-03-20 03:47] adarsh-technocrat commented on #122
Aaah I was not sure about the name  @kunal-kushwaha  that's why I wrote Educult :)

[2021-03-20 07:10] adarsh-technocrat commented on #46
Hey, @Abhishek-kumar09  just curious to know about the design for the profile page as I have created some of the designs for application #122  would love to work on this too.

[2021-03-20 07:59] adarsh-technocrat opened #123 "Need to add static AppBar to the application"
**Description**

Currently, there is no static app Bar to the application, so idea is to add the app bar with a side menu drawer, notification icon button, cart icon button on the right side, and in between search bar for searching the programming courses.

would love to work on this issue if this thought makes sense =)

/Cc @Abhishek-kumar09

[2021-03-20 08:58] ArchishmanSengupta commented on #46
hi @adarsh-technocrat i saw your UI designs. They look great. Maybe after getting the designs we can work on this together.

[2021-03-20 09:09] AvineshTripathi opened #124 "Mistakes in Documentation"
There are few grammatical errors in the contributing.md file and there can be some changes done in it to make it more friendly

[2021-03-20 09:10] helloCodingEra commented on #124
@Abhishek-kumar09 i would like to solve this errors can you assign it to me ??

[2021-03-20 23:04] adarsh-technocrat commented on #122
Hey, @kunal-kushwaha @Abhishek-kumar09 @KeenWarrior just ended up working on the home screen UI, I updated the issue discription with the Home screen UI have a look, love to hear your thoughts on this :)

[2021-03-21 02:16] poojadas07 commented on #121
![Capture1](https://user-images.githubusercontent.com/66192403/111891461-58966980-8a19-11eb-9aaf-90bb189708f3.PNG)
@Abhijay007 Please check.
Overflowed problem is removed all the screen size.

[2021-03-21 06:34] Abhishek-kumar09 opened #128 "Generate Design for Profile Page"
## Is your feature request related to a problem? Please describe.

A profile page design is needed to showcase the profile.

## Describe the solution you'd like

A figma based profile page, where we can collaborate.

[2021-03-21 06:35] Abhishek-kumar09 commented on #128
@mindninjaX, @Shitiz-aggarwal

Do you want to work on this?

[2021-03-21 06:37] #121 closed

[2021-03-21 06:41] Abhishek-kumar09 commented on #122
@adarsh-technocrat This is lovely!
I wanted to ask like if you have made it on figma or any other tool.

You can mail me the figma link (if present): abhimait1909@gmail.com

[2021-03-21 06:43] SHITIZ-AGGARWAL commented on #128
@Abhishek-kumar09 yes for sure

[2021-03-21 06:44] SHITIZ-AGGARWAL commented on #128
@Abhishek-kumar09 If there are any other designing issues , I would love to take them .

[2021-03-21 06:46] Abhishek-kumar09 commented on #128
Lovely, I just got the update that someone is making profile page design. You all can collaborate with each other once confirmed.

[2021-03-21 06:56] adarsh-technocrat commented on #122
Sure thing! @abhishekkumar08 I have made this using  `Abobe xd `  i can go for making this UI with `Figma` as well, sending you     `Abobe xd ` shared link  =).

[2021-03-21 08:03] adarsh-technocrat commented on #128
Hey @Abhishek-kumar09  can you please assign this to me, I and @SHITIZ-AGGARWAL  will collaborate and work on this  :)

[2021-03-22 20:37] Abhishek-kumar09 commented on #119
Looks good for the extension of the app.
We can break this issue into several smaller issues to divide the work.
Recommendation system and text-classification system is something that will be good use if we have enough data. But still these are good and fancy features to add.

@KeenWarrior ping!

[2021-03-22 20:45] #88 closed

[2021-03-23 07:17] adarsh-technocrat commented on #128
Hey, @Abhishek-kumar09  just ended up working on the Profile Screen UI please have a look :)

<img src="https://user-images.githubusercontent.com/47661086/112107401-e8ccde00-8bd4-11eb-8903-e2a978f6f6fd.png"/>

Please Suggest if any sort of change is required.

/Cc @KeenWarrior

[2021-03-23 07:20] KeenWarrior commented on #128
LGTM

[2021-03-23 07:55] adarsh-technocrat commented on #128
Hey @KeenWarrior ,@Abhishek-kumar09    Should I land PR for this ?

[2021-03-23 08:03] Abhishek-kumar09 commented on #128
Yes you can start making pull request.
We are using material-ui, its very easy and responsive.

[2021-03-23 08:12] adarsh-technocrat commented on #128
Sure thing @Abhishek-kumar09! I'll land PR soon for this issue :)

[2021-03-23 09:23] poojadas07 opened #131 "Add Carousel in the header section of home page"
## Is your feature request related to a problem? Please describe.

Can add a carousel containing 2-3 images in header section of home page.

@KeenWarrior @Abhishek-kumar09 Can I work on this ?

[2021-03-23 11:11] ampsteric commented on #115
@kunal-kushwaha @KeenWarrior @Abhishek-kumar09 can i work on this issue?

[2021-03-23 11:12] ampsteric commented on #46
@kunal-kushwaha @KeenWarrior @Abhishek-kumar09 can i work on this issue?

[2021-03-23 12:11] san0808 opened #132 "i wanted to add like a chat section"
In this chat section we will be able to share files ask doubts different rooms for different classes ,i was thinking f trying to add even a direct personal doubt message too
i would like more ideas if any to create and
can i work on this @mentor

[2021-03-23 15:25] Abhijay007 commented on #128
UI looks good @adarsh-technocrat 👍

[2021-03-24 05:20] san0808 commented on #132
@KeenWarrior @Abhishek-kumar09 pls reply

[2021-03-24 06:29] #117 closed

[2021-03-24 08:55] Harshal0902 commented on #117
@KeenWarrior ig we supposed to get issue assigned first, then work on it?

[2021-03-24 18:25] #131 closed

[2021-03-24 18:50] Abhishek-kumar09 commented on #132
yes chat section is something that we had thought, if you want to work you can start working in it.

[2021-03-24 18:55] Abhishek-kumar09 commented on #112
its already there in the readme just above prerequisites.

I am closing this issue, feel free to open it if needed.

[2021-03-24 18:55] #112 closed

[2021-03-24 18:57] #114 closed

[2021-03-24 18:58] Abhishek-kumar09 commented on #93
Fix is merged.

[2021-03-24 18:58] #93 closed

[2021-03-24 19:01] Abhishek-kumar09 commented on #104
Fix is merged.

[2021-03-24 19:01] #104 closed

[2021-03-24 19:02] Abhishek-kumar09 commented on #74
@please let me know what are the other libraries you had thought of, love to hear that.

[2021-03-24 19:04] symaticvisuals commented on #74
Sir can I please update you by Saturday, actually am out of station

[2021-03-24 19:07] Abhishek-kumar09 commented on #117
Yes @Harshal0902 sorry if you had already started working on it and the issue is merged. Yes, issue need to be assigned first but maybe due to this volume of PR we missed your comment and merged it. Sorry for that.

[2021-03-24 19:07] Abhishek-kumar09 commented on #74
Okay no problem, enjoy buddy!

[2021-03-24 20:14] Abhishek-kumar09 opened #135 "Create Student Dashboard Design"
A student dashboard for seeing the personalised information for the students
Student Dashboard
- Students can see their different progress in courses
- Students can give the link to their github profile, linked profile, leetcode profile, codechef, codeforces profile and their progress could be fetched from there
- They can see the active assignments, pending assignments
- Could request doubt suppo

[2021-03-24 20:15] Abhishek-kumar09 opened #136 "Create Design for Peer Discussion page"
A peer discussion page is needed where

- Where peers can talk with each other in form of blogs, resolve each others doubts etc
- They can give course feedback
- The healthy competition like solving problems etc could be made here
- People can share notes, papers, their thoughts and forums in the form of threads

[2021-03-25 00:44] ADRE9 opened #137 "ScrollToTop on visiting every new tab in the bottom tab"
## Describe the bug
When the page is scrolled down and swept left or right to another page , the new page is at the same scroll position at the previous page.

## To Reproduce

Steps to reproduce the behavior:

1.Make a complete reusable ScrollToTop component.
2.Add the ScrollToTop component at every tab (i.e Home , Courses, profile, etc. )

## Expected behavior
On swiping to the next the page wil

[2021-03-25 00:46] ADRE9 commented on #137
@Abhishek-kumar09 @KeenWarrior Can I work on it?

[2021-03-25 03:27] AvineshTripathi commented on #135
@Abhishek-kumar09 can i work on this ?

[2021-03-25 04:27] poojadas07 commented on #136
@Abhishek-kumar09 I want to work on this page. Please assign to me

[2021-03-25 07:42] adarsh-technocrat commented on #136
Hey, @poojadas07  if you need any sort of help from my side designing the Page in Figma or adobe xd just ping me out.
always ready help :p

[2021-03-25 07:49] adarsh-technocrat commented on #135
Hey, @AvineshTripathi I have some ideas related to student dashboard design I would love to share if you don't mind :)

[2021-03-25 07:51] #123 closed

[2021-03-25 08:04] AvineshTripathi commented on #135
@adarsh-technocrat ya sure infact we can work together m just a newbie so I would be really happy if we work toagther

[2021-03-25 08:06] adarsh-technocrat commented on #135
Great @AvineshTripathi  can you please tell me which tool you using?

[2021-03-25 08:11] AvineshTripathi commented on #135
@adarsh-technocrat  its avineshtripathi1@gmail.com

[2021-03-25 09:13] adarsh-technocrat commented on #135
Hey @Abhishek-kumar09  can we both assign to this issue?

[2021-03-25 12:06] san0808 commented on #136
@Abhishek-kumar09  i wanted ask is this not the same think i had asked in issue  #132 and you assigned it to me i believe the idea is the please tell me if what i am thinking is wrong

[2021-03-25 13:51] adarsh-technocrat commented on #135
Hey, @Abhishek-kumar09  can you please describe this section `progress could be fetched ` according to my understanding is it fetching the statistic of a student from these various platforms using their respective **`API's`**?

[2021-03-25 15:25] rajatgupta24 opened #140 "Fix: continue learning cards"
Hi guys,
It's hard to scroll through the continue learning section when we've a lot of courses going on.

I think the cards in continue learning section can be better is they are in horizontal scroll.

It'll make it short and mobile friendly.
*I can make the changes in my PR #85 because it contains similar functionality.*

[2021-03-25 16:53] ADRE9 commented on #137
@Abhishek-kumar09 I have stored the ScrollToTop component in the utils section since it can be used for other pages also. We just need to add the component to the page we want. I have added it for the four tabs right now. Anymore changes required?

[2021-03-25 18:34] faisaljamil25 opened #141 "Fix: Typography font sizes"
I think the typography font sizes are too small to be able to read properly. Also, there is no regular increase in font size from h6 to h1, making it difficult for developers to follow a pattern.
You can check here the typography configuration: [https://github.com/codeforcauseorg/edu-client/blob/main/src/theme/typography.js](url)

[2021-03-25 18:35] faisaljamil25 commented on #141
@Abhishek-kumar09 can I work on this?

[2021-03-25 18:42] Abhishek-kumar09 commented on #141
I have asked this to @adarsh-technocrat, but if you want you can work on it.

[2021-03-25 18:45] faisaljamil25 commented on #141
Yeah, sure I'm working on it.

[2021-03-25 18:48] Abhishek-kumar09 commented on #136
@san0808
I think that was a chat section you were talking about, and that could be made like a chat interface that will be more personalised.

This page more resembles to blogging page, forums and course discussion page etc.

[2021-03-25 19:38] Abhishek-kumar09 commented on #135
Yes

[2021-03-26 03:33] rajatgupta24 commented on #140
@Abhishek-kumar09 can I start working on it.

[2021-03-26 09:21] #137 closed

[2021-03-26 14:00] piyush-cosmo commented on #119
@KeenWarrior @Abhishek-kumar09 @kunal-kushwaha Can you assign this task so that this issue could be worked upon? Also, explain how this issue will be divided, will this be worked by 2-3 people together?

[2021-03-26 15:54] naveen8801 commented on #140
Hii @rajatgupta24  , i wanna work on it ,  can you help me in getting started :-)

[2021-03-26 17:08] rizwan2000rm opened #144 "Course Details Page: Navigation Functionality"
## Describe the bug

There is no navigation functionality on the Course Details Page.

## To Reproduce

Steps to reproduce the behavior:

1. Open app, go to /course/:id route
2. Navigation Buttons do not have any functionality

## Expected behavior

Navigation Buttons should do proper functions like back button redirects to homepage.

## Environment (please complete the following information):

-

[2021-03-26 17:09] rizwan2000rm commented on #144
@Abhishek-kumar09 I would like to work on this issue.

[2021-03-26 18:16] adarsh-technocrat commented on #135
Hello, @Abhishek-kumar09   just wanted to know something about the  `Jobs Openings section ` is there will be any sort of detail page that will describe the job description,  required skills, etc, and also want to know how they will be applying for the job position is they will be sharing just a resume or filling a job application form which will include the basic requirements.

As the Jobs Openin

[2021-03-26 18:33] himanshu211raj opened #146 "More information in profile tab"
## Is your feature request related to a problem? Please describe.
No, its an update
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I have an idea of showing more details in profile tab
## Describe the solution you'd like
I would like to add more sections like name, email id, etc type fields in profile tab
A clear and concise description of what you wan

[2021-03-26 18:59] rajatgupta24 commented on #140
Hi @naveen8801 👋🏻, sure you can, first join our discord channel and setup the repo locally and go through the files in src folder
If you need any help just ask on discord and wait till issue is assigned to you 😇

[2021-03-26 19:00] #75 closed

[2021-03-26 19:19] Abhishek-kumar09 commented on #135
Don't worry more about job opening design page, we will be redirecting it to our website where we have some design for it.

[2021-03-26 19:22] adarsh-technocrat commented on #135
Sure @Abhishek-kumar09  :)

[2021-03-26 19:41] rajatgupta24 commented on #146
Hi @himanshu211raj, we are currently working on the UI of the profile page once that is done you can look forward to it.

[2021-03-26 20:32] Abhishek-kumar09 commented on #119
As you have written your points could be broken into subissues, what are the places where you want to work Recommendation System orChatBot or Speech Recognition or Text Classification

[2021-03-26 20:55] Jassi10000 commented on #113
Actually  Github has a better option
It has " Gitpod " , the green button the comes on right side of the box , just click it and you dont have to do that "1s" game

[2021-03-26 22:31] adarsh-technocrat opened #147 "Need to Add Dark mode Functionality to app"
## Is your feature request related to a problem? Please describe.

As profile page UI is been implemented to the application now we can go for implementing functionality to it. We can go for enabling the Dark Mode Feature which is the most common use case of the application which can be controlled from the profile page.

## Describe the solution you'd like
The Approach to solve this issue would be

[2021-03-27 01:13] poojadas07 commented on #136
Okay

[2021-03-27 01:45] kumard3 commented on #147
Hey @adarsh-technocrat , I would like to work on this.  Just assign me the problem so that I can work accordingly.

[2021-03-27 02:09] kumard3 commented on #147
Hey @adarsh-technocrat , I would like to work on this.

[2021-03-27 03:00] Aayush-hub commented on #119
@Abhishek-kumar09 I would like to work on Speech Recognition feature!

[2021-03-27 03:02] adarsh-technocrat commented on #147
Thanks @kumard3  for your interest to the issue but I was waiting for this issue could be asign to me :)

[2021-03-27 03:14] Anishpras commented on #146
Hi @himanshu211raj  I would like to work on it.

[2021-03-27 03:33] naveen8801 commented on #140
Thanks  @rajatgupta24  :-)

[2021-03-27 04:06] himanshu211raj opened #148 "There must be some margin / padding on the top of home and my classes page."
see the below images for understanding the requirements properly.
![my classes](https://user-images.githubusercontent.com/55490277/112709457-dd80f780-8edf-11eb-9147-0836206d0ea1.png)
![home](https://user-images.githubusercontent.com/55490277/112709458-e376d880-8edf-11eb-97ab-575c3bf000ed.png)

[2021-03-27 04:22] rizwan2000rm opened #149 "Video Player Consistency"
## Describe the bug

There are currently two different video player packages. video-react and react-player. I think we only need one npm package which can be used for every purpose. React Player seems to be a better option as it is still being maintained.

## Additional context

If we agree on either package, we should remove the other package and use same player everywhere.

[2021-03-27 04:32] rizwan2000rm commented on #149
@KeenWarrior @Abhishek-kumar09 ping!

[2021-03-27 09:22] sandyabhi commented on #148
Hey @himanshu211raj  I would like to work on it

[2021-03-27 09:33] sandyabhi commented on #148
How about 10px margin ?
![CFC](https://user-images.githubusercontent.com/75850277/112716633-7bd78200-8f0d-11eb-8a6d-2b2ed839fc7e.png)

[2021-03-27 10:12] Abhijay007 commented on #44
@harshshaw I think this issue is resolved you can close it now.

[2021-03-27 10:12] Abhijay007 commented on #44
@harshshaw I think this issue is resolved you can close it now.

[2021-03-27 11:33] himanshu211raj commented on #148
It's fine @KeenWarrior @Abhishek-kumar09 @kunal-kushwaha kindly review it so it can be applied.

[2021-03-27 11:34] himanshu211raj commented on #146
@Abhishek-kumar09 @KeenWarrior @kunal-kushwaha kindly assign this issue to @Anishpras so that this functionality will be solved.

[2021-03-27 13:02] ayush19030 opened #150 "#feature request => adding different layouts on the home page for different sections such as ( continue watching , recommended courses, Upcoming courses, Field wise course suggestion)"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Additional context

Add any other context about the feature request here.

[2021-03-27 13:07] ayush19030 commented on #150
We can enter the videos for each section in the horizontal view layout.

[2021-03-27 13:20] kumard3 commented on #146
@himanshu211raj  I would like to collaborate with @Anishpras on this issue.

[2021-03-27 13:21] himanshu211raj commented on #146
@KeenWarrior @Abhishek-kumar09 kindly have a look on this.

[2021-03-27 13:28] ayush19030 commented on #150
I would like to add this functionality on the home page

[2021-03-27 14:56] ayush19030 opened #152 "# feature request => Adding the "Take the notes " feature while attending the lectures ."
## Describe the solution you'd like

While viewing the lecture the user can be provided with space where he can
take note of the important points.
The notes will be saved for future reference.

[2021-03-27 15:06] ayush19030 opened #153 "# feature request => Course Progress graph on Profile Section"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

On the profile page, a progress section can be introduced.
The progress Section contains the graph keeping the track of progress.
The current progress can be compared to the average progress graph.
We c

[2021-03-27 15:22] #47 closed

[2021-03-27 16:17] piyush-cosmo commented on #119
@Abhishek-kumar09 I would like to work first on Speech Recognition and Chatbot feature. Next, when the data will be collected enough, then could start working on recommendation system and Text Classification feature together with our team selected.
Can you assign me the task?

[2021-03-27 18:14] yoayushraj99 commented on #72
no its not in case of yarn.

[2021-03-27 18:17] yoayushraj99 commented on #72
npm install is working but yarn install is not work because to run yarn install the repository must contain a yarn.lock file..

[2021-03-27 18:33] Abhishek-kumar09 commented on #146
It's already there.
Profile page is updated and frontend design is implemented. You can check that out in latest code.

[2021-03-27 18:36] Abhishek-kumar09 commented on #148
This issue can't be approved, sorry.
We can't add just anything without prebuilt design.

I am closing this issue so as to manage open issues better.

Feel free to open it if you need it anyway.

[2021-03-27 18:36] #148 closed

[2021-03-27 18:37] Abhishek-kumar09 commented on #149
Do you want to work on it?

[2021-03-27 18:43] Abhishek-kumar09 commented on #72
You should be running `yarn` before running `yarn start`

[2021-03-27 18:45] Abhishek-kumar09 commented on #153
Please fill in the required details, follow Issue template and make title short

[2021-03-27 19:14] ayush19030 commented on #153
@Abhishek-kumar09  I have updated all the proposed features in the desired formats, Kindly have a look at them.

[2021-03-27 19:30] yoayushraj99 opened #155 "UI improvement in Login Button"
## Is your feature request related to a problem? Please describe.
The UI of the current login button is not looking good.
## Describe the solution you'd like
The sign-in button UI needs to be like this: -

 ![img](https://ghnewshub.com/media/icons/social/large/google-signin-button.png)

[2021-03-28 03:16] rizwan2000rm commented on #149
@rizwan2000rm Yeah sure. I will work on it.

[2021-03-28 05:17] karthikshetty03 commented on #155
@yoayushraj99, Can I work on this issue?

[2021-03-28 07:35] #141 closed

[2021-03-28 14:31] faisaljamil25 opened #157 "Checkout Page"
## Is your feature request related to a problem? Please describe.

The checkout page is not implemented yet.

## Design
![Screenshot 2021-03-28 195538](https://user-images.githubusercontent.com/69186619/112755849-2cbe4980-9000-11eb-82ca-75baa24b7b0b.png)

[2021-03-28 14:32] faisaljamil25 commented on #157
@Abhishek-kumar09 I would love to work on this issue. Please assign this to me.

[2021-03-28 15:41] sakshi-choudhary commented on #155
I would like to work on this issue. Please assign it to me

[2021-03-28 16:18] rajatgupta24 commented on #140
Hi @naveen8801, how's this going?

[2021-03-28 16:30] #48 closed

[2021-03-28 16:33] sakshi-choudhary commented on #155
I have updated the button @Abhishek-kumar09  please review my PR

[2021-03-28 16:34] ayush19030 commented on #153
@Abhishek-kumar09  Can you please provide your consent over this .

[2021-03-28 16:34] naveen8801 commented on #140
Hii @rajatgupta24 , i have successfully setup this repo locally and code base looks familiar to me , currently i am spending time in understanding different components involved in this application  :-)

[2021-03-28 16:44] sakshi-choudhary commented on #152
I would like to work on this. Could you please assign this to me @Abhishek-kumar09

[2021-03-28 16:46] ayush19030 commented on #152
@sakshi-choudhary  I want to work on this , was just waiting for the approval of @Abhishek-kumar09

[2021-03-28 16:50] sakshi-choudhary opened #159 "My Courses should have a list of courses"
## Is your feature request related to a problem? Please describe.

Currently, my courses page is designed as such if the user has enrolled in only 1 course.

## Describe the solution you'd like

My Courses should have a list of all the courses bought by the student, and after clicking on a particular course, the video and chapters of the course will show up.

[2021-03-28 17:16] rajatgupta24 commented on #140
Great start :partying_face:, and what about the current issue, are you still doing it?

[2021-03-28 17:30] naveen8801 commented on #140
ya , i am working in it . should i directly submit a PR or wait for someone assign this issue to me ?

[2021-03-28 17:49] rajatgupta24 commented on #140
It has been a while so you should just submit a PR now

[2021-03-28 17:50] naveen8801 commented on #140
Thanks @rajatgupta24 :-)

[2021-03-28 18:49] naveen8801 commented on #140
@rajatgupta24  , i am facing some problem while solving this , actually i am able to make that list vertically scrollable not horizontally , can you help me ?

[2021-03-28 20:26] adarsh-technocrat commented on #135
Hello, @Abhishek-kumar09 @KeenWarrior 👋  just ended up working on the Student Dashboard Design Section here is the Figma link  https://www.figma.com/file/N8kDl83jL73AZ8XZIbF6Xn/CFC-Student-Dashboard?node-id=0%3A1  would love to hear your thoughts on this!

[2021-03-28 21:01] Zain-Muiz opened #160 "#FeatureRequest : Addition of Search Courses Section."
When a student opens the app, there is always a possibility that he/she would have already have in mind a course he/she wants to enroll in. Say Web Development.

Providing a section to search for courses in the platform.

The search section will allow user to search courses related to specific topics He / She is interested to enroll  and the courses on the searched topic, If available, will be sho

[2021-03-28 21:08] Zain-Muiz commented on #160
![CCCapture2](https://user-images.githubusercontent.com/60746360/112768079-cd7c2b80-9037-11eb-866b-34bcdfc32fa0.PNG)
![CCCapture1](https://user-images.githubusercontent.com/60746360/112768081-cf45ef00-9037-11eb-9dec-ea34c2ad122a.PNG)
![CCCapture3](https://user-images.githubusercontent.com/60746360/112768084-d1a84900-9037-11eb-932e-f6d2a791cacf.PNG)

[2021-03-29 02:36] poojadas07 commented on #160
@Abhishek-kumar09 I want to work on this . Please assign to me

[2021-03-29 05:59] naveen8801 commented on #159
Hi @sakshi-choudhary  ,  @Abhishek-kumar09  , I'd like to work on it , can you assign it to me :-)

[2021-03-29 06:14] adarsh-technocrat commented on #135
if UI gets approval should I go for making the PR and bit confused about the Dashboard Screen placement where it can be placed?

[2021-03-29 07:36] sakshi-choudhary commented on #159
@naveen8801 Actually, I wanted to work on this, was waiting for @Abhishek-kumar09 's reply.

[2021-03-29 07:54] Zain-Muiz commented on #160
Hey @poojadas07 , I have already finished implementing it. I'm Glad you liked the feature request. It will surely require some more functionalities, I will create an issue once this feature is merged. You can surely work on it.

[2021-03-29 08:07] poojadas07 commented on #160
okay...

[2021-03-29 15:09] AnanyaNegi opened #165 "feature request=>mentor profile section"
## Is your feature request related to a problem? Please describe.

The courses can use a mentor description section in which the user can familiarise themselves with the basic intro of speakers/mentors. This will lead to user assurance and a better understanding of the course before buying it.

## Describe the solution you'd like

A mentor section. When the user clicks on the mentor name, he/she w

[2021-03-29 15:11] AnanyaNegi commented on #165
@Abhishek-kumar09 I would like to contribute to this issue, Pls assign it to me.

[2021-03-29 16:15] adarsh-technocrat opened #166 "Create Design for Gamification board"
A Gamification board  page is required where

- Students can see their ranking on the basis of their score
- Students can see other students' score profiles (Like kind of played card ) which will include info like full name, profile pic, number of answered questions, and statics like number of contest participated and won.
- additional but we can also add our `causefolio` profile.
-  Students can

[2021-03-29 16:16] adarsh-technocrat commented on #166
Hello, @Abhishek-kumar09 I want to work on this issue can you please assign this to me :)

[2021-03-29 16:39] sakshi-choudhary commented on #159
@Abhishek-kumar09 Could you please assign this to me?

[2021-03-29 16:59] sakshi-choudhary opened #167 "Bottom Navigation missing in course Page"
## Is your feature request related to a problem? Please describe.

The Checkout course page does not have the bottom navigation bar

## Describe the solution you'd like

Need to add the navigation component in the course page

[2021-03-29 17:01] sakshi-choudhary commented on #167
@Abhishek-kumar09  I would like to work on this issue, please assign this to me.

[2021-03-29 17:02] #167 closed

[2021-03-29 18:23] Abhishek-kumar09 commented on #160
Search is there already, Do we need additional nav tab for it?
https://www.figma.com/proto/3QxrkclcjQFa2dplfWrQ8v/CFC-Application-(Copy)?node-id=36%3A168&scaling=scale-down&page-id=0%3A1

[2021-03-29 20:29] Abhishek-kumar09 commented on #135
It can be a new page, the profile page would have the option to go to your dashboard.

[2021-03-29 21:16] faisaljamil25 commented on #157
update

![Screenshot 2021-03-30 024503](https://user-images.githubusercontent.com/69186619/112901170-07196900-9102-11eb-87d9-55699635a80a.png)

[2021-03-30 03:13] adarsh-technocrat commented on #135
Sure thing @Abhishek-kumar09  Hey @AvineshTripathi   you can go making pr for Header Section as we discussed earlier right! I will follow up with your  PR for creating a middle section ping me here if you have any doubts :)

[2021-03-30 03:18] poojadas07 opened #168 "Course Description Page"
## Is your feature request related to a problem? Please describe.

When we click on a course card , it will take us to new page which contains the details of that particular course like course name , small description of the course , price , author details , adding to wishlist option , duration of course , etc.

## Describe the solution you'd like

Course description page contains all the informat

[2021-03-30 07:34] Abhijay007 commented on #168
@poojadas07  in think it is already solved in issue no: #92

[2021-03-30 07:59] poojadas07 commented on #168
Ohhkkk....I missed that.

[2021-03-30 07:59] #168 closed

[2021-03-30 09:43] #140 closed

[2021-03-30 09:56] Abhishek-kumar09 commented on #153
That sounds good but how are you thinking to implement this?

[2021-03-30 10:38] suubh commented on #155
Also can we add more options for Sign in ?
Eg - Sign in with Github .
@Abhishek-kumar09

[2021-03-30 11:23] sakshi-choudhary commented on #159
I have worked on this issue. Please check the PR #170 @Abhishek-kumar09

[2021-03-30 11:34] Abhishek-kumar09 commented on #56
@Striver08 Are you working on it?

[2021-03-30 11:35] #128 closed

[2021-03-30 13:06] rajatgupta24 opened #171 "Empty about-us page"
## Describe the bug
On the Homepage continue learning section I can see a horizontal scrollbar on cards
I can't see anything on the about us page and can't render faqs pages
there is a console.log on the privacy page

## To Reproduce

Steps to reproduce the behavior:

1. You can see the scrollbar on the homepage
2. try to go to /about
3. try to go to /faqs
4. see in the console after going to /pri

[2021-03-30 13:08] rajatgupta24 commented on #171
Hi @Abhishek-kumar09, I already made all the required changes should I open a PR.

[2021-03-30 13:29] rajatgupta24 opened #172 "User Activity"
## Is your feature request related to a problem? Please describe.
We need a user dashboard where the users can see the activity of themselves as well as on other's profiles (just like the GitHub activity chart), we can use [chartJS](https://www.chartjs.org/).

We can add this under the activity section of the profile page

## Describe the solution you'd like

A clear and concise description of wha

[2021-03-30 13:31] rajatgupta24 commented on #172
Hey @Abhishek-kumar09, I'd like to work on this :smiley: .

[2021-03-30 13:54] rajatgupta24 commented on #153
Hey @ayush19030 and @Abhishek-kumar09, instead of showing it on the profile page I think the more section of the course itself is a better place for this and this can be done by comparing the result of the quizzes in between the course compare your result with the average, highest, or your friend (who is attending the course).

[2021-03-30 14:12] rohank2502 opened #173 "Improve Some Spelling and Spaces in contributing.md"
![Screenshot 2021-03-30 194010](https://user-images.githubusercontent.com/76584243/113003109-09c29f80-9190-11eb-9527-db6cb20b993e.png)

Space before new

[2021-03-30 14:18] suubh commented on #172
#135 Is it something like that ?

[2021-03-30 14:33] suubh commented on #173
Locale is fine . It indicates a place ,environment  or settings where things happen .

[2021-03-30 14:35] rohank2502 commented on #173
oo i was not knowing about this thanks !

[2021-03-30 14:44] suubh opened #174 "Add more options for Log In"
## Is your feature request related to a problem? Please describe.

Feature request : **Add more options for Log in .**

## Describe the solution you'd like

For example ,If it is compatible  we can also use GitHub to login .
![React App 3-30-2021 5-36-58 PM](https://user-images.githubusercontent.com/47265493/113008011-5019fd80-9194-11eb-936f-3df7a68e6bf9.png)

## Additional context

For implementa

[2021-03-30 14:50] rajatgupta24 commented on #172
No, you can say #135 is about the GitHub profile whereas #172 is more likely to be the Github activity chart.

[2021-03-30 15:21] Abhishek-kumar09 commented on #172
Is it related to this: https://github.com/codeforcauseorg/edu-client/issues/153 or is the idea can be merged.

[2021-03-30 16:43] Zain-Muiz commented on #160
@Abhishek-kumar09 bhaiyya I think it would be better to have a seperate search tab. What I have observed is most of the apps(educational as well as others) have a seperate search tab. What do you think will be a better ?

[2021-03-30 19:07] gargayush18 opened #176 "'PlayCircleOutline' is not defined"
## Describe the bug

![image](https://user-images.githubusercontent.com/55682038/113042840-4951b180-91b9-11eb-9e05-36479c8d935d.png)

[2021-03-30 19:09] #176 closed, assigned to nobody

[2021-03-31 04:58] poojadas07 opened #178 "Social Sharing of the App"
## Is your feature request related to a problem? Please describe.

We can share this mobile app with others via whatsapp ,  twitter , mail, etc.

## Describe the solution you'd like

Add social sharing with this application.

@KeenWarrior @Abhishek-kumar09 Can I work on this ?

[2021-03-31 06:49] ayush19030 commented on #153
@rajatgupta24 Actually I was creating a button in a Profile Page and then navigating into the user progress page.

[2021-03-31 06:54] sakshi-choudhary opened #179 "#Feature Request=> Referral Option"
## Is your feature request related to a problem? Please describe.

A referral option in the Profile page under the Activities section. The Referral page shall contain options to refer courses to their friends and also shows the total number of referrals of students at the top.

## Additional context

Courses card can have a small menu button at the rightmost bottom which can contain an option as "

[2021-03-31 06:54] sakshi-choudhary commented on #179
I would like to work on this if approved @Abhishek-kumar09

[2021-03-31 07:40] Abhishek-kumar09 commented on #179
I guess you are asking for share button on the coursepage right?

[2021-03-31 07:42] Abhishek-kumar09 commented on #171
yes, for sure

[2021-03-31 07:47] Abhishek-kumar09 commented on #160
I am just woried about 5 navItems in the bottomNavbar, How it will behave in smaller screen sizes.

Though you can try and share your work in a PR.

[2021-04-01 14:13] dhwaj1902 opened #186 "Adding Links to FAQ, About Us, Terms and Condition, and privacy policy"
Add the Link to FAQ, About Us, Term of Use, and Privacy Policy so that they can redirect the user to the corresponding Page.

![image](https://user-images.githubusercontent.com/57860123/113307058-5b029880-9322-11eb-93da-002cded50e08.png)

[2021-04-01 14:14] dhwaj1902 commented on #186
Please assign this issue to me.

[2021-04-01 18:56] dhwaj1902 opened #188 "Changing the App Title"
Change the App Title from 'React App' to 'Edu Client'.
![image](https://user-images.githubusercontent.com/57860123/113340894-18ed4d00-934a-11eb-861c-075cac28969a.png)

[2021-04-01 19:06] dhwaj1902 commented on #188
By mistake I have made pull request in another issue, This is the pr for this issue [Pr](https://github.com/codeforcauseorg/edu-client/pull/187/commits/4f58500372f28da46228f9aff1b364997e00711b)

[2021-04-01 19:53] Abhijay007 commented on #188
@dhwaj1902 we may don't need it right now as our main focus is the android app that's why we not even replace our favicon for now but if you really wanna change it try to make changes in your existing PR as i think to open a separate pr for this may not that fuitlful.

PS: I am not a maintainer you might need approval for this form @Abhishek-kumar09

[2021-04-01 19:59] kritarthmehra opened #189 "Adding a notification calendar/Progress bar for the user."
The user can get notifications of upcoming national level exams, competitions/Hackathons etc. Links to the competitions will be provided on a single click and the related courses can also be shown there.

[2021-04-01 19:59] badboyguss commented on #189
Can I start working on this?  @Abhishek-kumar09

[2021-04-01 21:23] Abhishek-kumar09 commented on #189
Great, fetching hackathons and programs is a part of backend, here yoou can create frontend and share design.

[2021-04-01 21:24] Abhishek-kumar09 commented on #179
Great idea :)

[2021-04-01 21:25] Abhishek-kumar09 commented on #178
Is it same as https://github.com/codeforcauseorg/edu-client/issues/179

[2021-04-02 03:41] poojadas07 commented on #178
Yes ....But I opened this issue earlier.

[2021-04-02 09:50] Abhishek-kumar09 commented on #178
Oh sorry, I always request everyone to see the issues if already opened before opening a new one.

I think she has started working, nevermind your contribution counts too.

[2021-04-02 11:36] #186 closed

[2021-04-02 11:50] #157 closed

[2021-04-02 18:26] Jassi10000 opened #191 "A minor correction in CONTRIBUTING.md"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In the CONTRIBUTING.md file , under the section of  "Setting up project using yarn"
I think there's a lil mistake in the documentation

## Describe the solution you'd like

A clear and concise description of what you want to happen.
1. It

[2021-04-02 18:28] #136 closed

[2021-04-03 03:07] Siddhant-K-code commented on #147
yes, I think @adarsh-technocrat made his implementation very clear, so it could get assigned to him.

/cc @Abhishek-kumar09 @KeenWarrior

[2021-04-03 14:45] rajatgupta24 commented on #191
Hi @Jassi10000, go ahead with this and create a PR.

[2021-04-03 14:55] Jassi10000 commented on #191
Sure sir , updating that in a few minutes

[2021-04-03 17:44] himanshu211raj opened #196 "Search bar postion"
Search bar position must be on the top most place of homepage so that everyone can search easily, and slider must be present below this.

[2021-04-03 17:55] dhwaj1902 opened #197 "Scroll To Top not Working Properly"
Currently, Scroll To Top Button is not working properly, we need to pull it down once to get to the top.
![2021-04-03 23-20-35](https://user-images.githubusercontent.com/57860123/113487102-b0ca7280-94d3-11eb-9e3e-40aee387022b.gif)

[2021-04-03 17:55] dhwaj1902 commented on #197
Working on it.

[2021-04-03 18:01] dhwaj1902 commented on #188
@Abhishek-kumar09 can close this issue because I already pushed my changes to this [commit](https://github.com/codeforcauseorg/edu-client/pull/198/commits/4f58500372f28da46228f9aff1b364997e00711b)

[2021-04-03 18:25] himanshu211raj commented on #196
@Abhishek-kumar09 kindly have a look on this and provide me opportunity to work on this.

[2021-04-03 18:33] #197 closed

[2021-04-03 18:46] #191 closed

[2021-04-03 21:55] rizwan2000rm commented on #56
I would love to take this up!

[2021-04-04 06:47] karankv26 commented on #124
@Abhishek-kumar09  I will take care of this. No worries!

[2021-04-04 07:49] Abhishek-kumar09 commented on #56
Okay,
Here is the more description: https://github.com/codeforcauseorg/edu-client/issues/56#issuecomment-798275707
you have to run your app in the android device itself, to test the changes.

[2021-04-04 08:30] rizwan2000rm commented on #56
@Abhishek-kumar09 Do we have the assets for static splash image and app icons ?
I was thinking we can add a loading animation after we splash a static image.

[2021-04-04 11:45] #124 closed

[2021-04-04 11:48] #144 closed

[2021-04-04 12:16] karankv26 commented on #188
@Abhishek-kumar09 done bro...

[2021-04-04 12:34] dhwaj1902 commented on #188
@karankv26 bro I have already pushed the changes and the pr is already merged. I asked @Abhishek-kumar09 to close this issue.

[2021-04-04 12:37] karankv26 commented on #188
Ohh okay...fine...

[2021-04-04 12:41] rizwan2000rm commented on #188
@dhwaj1902 You can close it yourself as you are the author of this issue.

[2021-04-04 12:42] #188 closed

[2021-04-04 13:05] NishcheyBhutani opened #204 "Login using OTP feature"
## Is your feature request related to a problem? Please describe.

Login using OTP feature.

## Describe the solution you'd like

Login with OTP feature that let's the user to login through one time password by clicking the button "Login with OTP".

![Image 04-04-21 at 6 30 PM](https://user-images.githubusercontent.com/74762700/113509625-46b5da00-9574-11eb-9d44-5eb554075adf.jpeg)

## Additional co

[2021-04-04 13:06] NishcheyBhutani commented on #204
@KeenWarrior @kunal-kushwaha @Abhishek-kumar09 Can I work on this issue!?
please assign it to me?

[2021-04-04 15:12] Abhishek-kumar09 commented on #56
For now add splash with any any dummy image and text.

[2021-04-04 15:48] sakshi-choudhary opened #206 "Feature Request=> Create Mentor rating and review page."
Create Mentor rating and review page.

[2021-04-04 15:48] sakshi-choudhary commented on #206
Can I work on this issue? @Abhishek-kumar09

[2021-04-04 16:09] Abhijay007 commented on #159
I think this issue is resolved you may close this now @sakshi-choudhary as your PR Succesful get merged 👍

[2021-04-04 16:48] sakshi-choudhary commented on #178
I'm sorry, @poojadas07 You can work on it

[2021-04-04 17:06] #159 closed

[2021-04-04 18:14] RohankumarM opened #209 "Provide users with more sign in/sign up options"
Provide users with more options to sign in/sign up like Facebook, Yahoo, and Github.

Different buttons could be designed to handle each case.

[2021-04-04 18:20] RohankumarM opened #210 "Provide online code editor option"
## Is your feature request related to a problem? Please describe.

If this education platform is targeting each and every learner in India then this feature is a must.

Whenever a user is viewing a course provide the user with the capabilities to open an online code editor in the website itself.

## Describe the solution you'd like

We have an approved online interview feature that will require an

[2021-04-04 18:35] himanshu211raj commented on #196
![image](https://user-images.githubusercontent.com/55490277/113518182-53512700-95a2-11eb-936a-e215b5f18ae5.png)

@Abhishek-kumar09 i am talking about this layout as search bar must be on top position it looks very awesome in apps.

[2021-04-04 20:37] Abhishek-kumar09 commented on #206
Do you have some design in your mind?

[2021-04-04 20:40] Abhishek-kumar09 commented on #196
The other way, the search bar was seen on the landing pae itself without any scrolling.

We can put this searchbar in wishlist or coursepage though.

[2021-04-04 22:19] Jassi10000 opened #211 "Implementing the feature of making the Application Work Offline"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have been going through the project from a long time and I noticed that we all are targetting towards this goal

* *100% education with upskilling ,  developing countries and rural areas*

but I think the main concern will be for the peo

[2021-04-04 22:30] Jassi10000 opened #212 "Adding Push Notification functionality to the Application"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As the application we are targetting will be serving a lot amount of people and may be able to change their lives in developing themselves throught our content  so in this case , I came up with this below feature :

## Describe the solutio

[2021-04-05 04:37] dhwaj1902 opened #213 "Making the Application a PWA"
Currently, the application is running on a browser, but now I want to convert it to an app a [PWA](https://web.dev/progressive-web-apps/)  so that it can installable on the machine.

[2021-04-05 05:39] Jassi10000 opened #215 "Adding Multi-Lingual Functionality to the Application"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As edu-client application will be used by people of different regions and areas , so I came up with below feature  :

## Describe the solution you'd like

A clear and concise description of what you want to happen.
I want to include the Fe

[2021-04-05 05:52] naveen8801 opened #216 "Fix - Remove horizontal scroll bar present at bottom of Profile page"
## Describe the bug

As in case of mobile application there is no use of horizontal scroll bar , there is one in profile page it should be removed .

## To Reproduce

![error_scroll](https://user-images.githubusercontent.com/54985099/113542045-0e101200-9601-11eb-918e-ae561d808d70.gif)

## Expected behavior

![resolved](https://user-images.githubusercontent.com/54985099/113542085-21bb7880-9601-11eb

[2021-04-05 05:54] naveen8801 commented on #216
@Abhishek-kumar09  , I'd like to work on it , please assign it to me  :-)

[2021-04-05 06:05] rohank2502 opened #217 "Add My Achivement Tab in Activities"
## Is your feature request related to a problem? Please describe.
No

A clear and concise description of what the problem is to make the learner more interested in completing the respective course.

[2021-04-05 06:15] rohank2502 commented on #217
@Abhishek-kumar09  @kunal-kushwaha  Please give it a review !

[2021-04-05 06:19] sakshi-choudhary commented on #206
Yes, actually it's there in Figma file. I'll make the same like this and maybe enhance a bit.
![](https://cdn.discordapp.com/attachments/748744928514932816/828513810221367326/Screenshot_2021-04-05_at_11.42.22.png)

[2021-04-05 08:27] Jassi10000 commented on #211
@Abhishek-kumar09  Can you please review this ?

[2021-04-05 08:28] Jassi10000 commented on #212
@Abhishek-kumar09  Can you please review this ?

[2021-04-05 08:28] Jassi10000 commented on #215
@Abhishek-kumar09  Can you please review this ?

[2021-04-05 13:57] #217 closed

[2021-04-05 14:06] Abhishek-kumar09 commented on #215
Yes, nice feature. But how are you planning to implement this?

[2021-04-05 14:08] Abhishek-kumar09 commented on #212
Sounds good. Nice feature to look upon.
We can use firebase push notifications or maybe anything else, it just came up to my mind right now.
Have to figure out how the feature can be implemented with capacitor/ionic

[2021-04-05 14:14] Jassi10000 commented on #212
Yeah sir @Abhishek-kumar09  Firebase was the option that was coming to my mind while thinking of this feature
But once it's implemented , it will definitely give a boost to the application

[2021-04-05 14:18] Jassi10000 commented on #212
@Abhishek-kumar09  Can you please give your reviews on #211 also

[2021-04-05 14:20] Jassi10000 commented on #215
@Abhishek-kumar09 Implementation will be lil tough but is achievable , I have never tried this but for sure , will definitely try my hands over this feature as this feature can be a nice and major upgrade to the application which will serve purpose of many

[2021-04-05 14:34] naveen8801 commented on #216
@Abhishek-kumar09 , i have made a PR [#221 ](https://github.com/codeforcauseorg/edu-client/pull/221)  please review :-)

[2021-04-05 15:35] RohankumarM commented on #209
Hey @Abhishek-kumar09, is this feature needed? If yes, I could start working on it?

[2021-04-05 15:35] #206 closed

[2021-04-05 15:36] dhwaj1902 commented on #213
@Abhishek-kumar09 I am facing an issue while creating a Pull Request, I rebase my currently forked main branch with upstream/main breach, but it is still showing this.

![image](https://user-images.githubusercontent.com/57860123/113592293-97036980-9652-11eb-9fe7-147ad2f653df.png)

and when I create a pull request it shows my previous commits like:

![image](https://user-images.githubusercontent.co

[2021-04-05 15:38] dhwaj1902 commented on #213
And also can you please review my issue also @Abhishek-kumar09, regarding PWA.

[2021-04-05 15:50] sakshi-choudhary opened #223 "Wrong Routing"
## Describe the bug

A clear and concise description of what the bug is.
Wrong Routing. Current the classroom page opens on clicking on the contests option

## To Reproduce

Steps to reproduce the behavior:

1. Go to profile
2. Click on contest & statistics

## Expected behavior

The classroom page should open on clicking on the classroom option

## Environment (please complete the following infor

[2021-04-05 15:50] sakshi-choudhary commented on #223
I would like to fix this issue @Abhishek-kumar09

[2021-04-05 15:59] sakshi-choudhary opened #224 "Contests & Statistics Page"
**Create the Contest & Statistics Page.**

- I will use the Chart.js library to show user's past contest performance in form of graphs and pie charts.

- For contests, I will show all the upcoming contests, previous contents, ongoing contests in a tabulated format with accordions.
-  user's participated contests and his/her points scored in the same.

All in a structured manner.

[2021-04-05 15:59] sakshi-choudhary commented on #224
@Abhishek-kumar09  Please assign this to me?

[2021-04-05 17:39] Jassi10000 commented on #215
@Abhishek-kumar09 Sir, we can implement the functionality of Google Translate to convert the content of the application in a customised selected language , there are other ways too  but throught Google Translate its expected to get nice results

[2021-04-06 04:55] adarsh-technocrat opened #225 "Fix- Overexposed shadow blur radius of cards"
**Description**
The over-exposed shadow blur radius can be removed to make cards look cleaner and this needs to fix with all cards.

![shadow](https://user-images.githubusercontent.com/47661086/113659853-93a6c700-96c0-11eb-813e-37538d414a8e.PNG)

Cc/ @Abhishek-kumar09

[2021-04-06 08:32] naveen8801 commented on #225
Hi @adarsh-technocrat  @abhishekkumar08  , I'd like to work on it , can you assign it to me ?

[2021-04-06 09:16] adarsh-technocrat commented on #225
Sure @naveen8801  as there is no major change just you need to add css to card with `boxShadow: "0px 0px 5px rgba(0,0,0,0.2)",`

Hey, @Abhishek-kumar09  you can please assign this issue to @naveen8801 :)

[2021-04-06 16:01] naveen8801 commented on #225
thanks @adarsh-technocrat 👍

[2021-04-06 17:09] dhwaj1902 commented on #213
@kunal-kushwaha @KeenWarrior please help 🙏.

[2021-04-06 18:58] ADRE9 commented on #213
Hey @dhwaj1902  actually this react app is gonna be converted to an apk file using the Capacitor js library. So you don't have to make it as a PWA.

[2021-04-07 00:44] dhwaj1902 commented on #213
Ok, I understand that but what about this [issue](https://github.com/codeforcauseorg/edu-client/issues/213#issuecomment-813458215)? I am not able to make any or any commit because this is showing.

[2021-04-07 01:27] himanshu211raj commented on #196
sure can i work on this? @Abhishek-kumar09

[2021-04-07 02:54] rizwan2000rm commented on #213
@dhwaj1902 Please look into advance git functionality. You might have to hard reset to a previous commit.

[2021-04-07 07:35] rizwan2000rm commented on #56
@Abhishek-kumar09 Update: Here is what splash screen looks like. Should I proceed with a PR ?

https://user-images.githubusercontent.com/48753482/113828233-cb397000-97a1-11eb-8a38-c131d7c42719.mp4

[2021-04-07 07:42] rizwan2000rm opened #231 "Documentation: Provide instructions for android development in CONTRIBUTING.md"
### Update Documentation
The CONTRIBUTING.md is missing instructions for the building and running of android application with capacitor and android studio.

[2021-04-07 11:49] #171 closed

[2021-04-07 14:53] ADRE9 commented on #213
I guess each time you pull from the upstream you commit with a message and push so it takes it as an update and shows that your branch is ahead of the forked project. So after pulling simple push without commiting to bring your GitHub repo equal to the project repo. Hope this will help you in future.

[2021-04-07 15:01] dhwaj1902 commented on #213
@ADRE9 I did the same but it is still showing like this.
![image](https://user-images.githubusercontent.com/57860123/113888575-17a3a080-97e0-11eb-88e4-d2c151c5f983.png)

[2021-04-08 01:53] Abhishek-kumar09 commented on #56
Yes please, it looks good. we can modify that in future if needed.

[2021-04-08 02:11] Abhishek-kumar09 commented on #213
Hi, @dhwaj1902

To delete those extra commits and make your branch even with main branch, Do rebasing.

[code]

[2021-04-08 02:14] Abhishek-kumar09 commented on #215
Sure, we can do that.
It's an important extension to the app, before that we have to work on some more prior components.

[2021-04-08 02:17] Abhishek-kumar09 commented on #209
Yes, For now we have a google signIn only, we could also give option to github signIn.
If you want you can work on it.

Btw, the changes are needed to be tested in android application by placing service files from firebase to android folder at app level I guess.

[2021-04-08 02:19] #216 closed

[2021-04-08 04:52] Jassi10000 commented on #215
Can you like elaborate more , what type of components . so that I can have a good research on them as well

[2021-04-08 04:54] Jassi10000 commented on #211
@Abhishek-kumar09 Can you please express your ideas on this feature too , am eager to know , on would it be great addtiional feature ?

[2021-04-08 07:11] adarsh-technocrat opened #234 "Update: PR template for providing deployed link of route/page"
**Description**
   Update PR template, which asks for giving links to the deploy preview of the route/page that need to review.

[2021-04-08 08:46] adarsh-technocrat opened #235 "Fix- breaking UI and routing issue"
**Description**
 Need to fix the My Achievement list icon and  routing issue of the peer discussion page

https://user-images.githubusercontent.com/47661086/113993217-d360e080-9871-11eb-9c8d-f7e74c541008.mp4

[2021-04-08 08:47] adarsh-technocrat commented on #235
@Abhishek-kumar09 I'll land PR for this!

[2021-04-08 09:11] rajatgupta24 commented on #172
Hi @Abhishek-kumar09 can I work on this ??

[2021-04-08 14:10] naveen8801 commented on #225
@Abhishek-kumar09 , i have made a [236](https://github.com/codeforcauseorg/edu-client/pull/236) , please review :)

[2021-04-08 15:11] sandeep-v1404 opened #238 "#FeatureRequest : Addition of Code Snippets"
## Is your feature request related to a problem? Please describe.

- To add a Code Snippet and Explain what each line of code or what the code does. It will be useful for beginners.
- We can also run contests based on this in later stages.

## Describe the solution you'd like

I would like to implement new cards for this feature and a new Page if possible.
## Additional context

Suggestions are mo

[2021-04-08 17:20] #238 closed

[2021-04-08 17:51] rajatgupta24 opened #239 "Add: Badge Page"
## Is your feature request related to a problem? Please describe.
Hi :wave:, I'd like to work on the badge page.

## Describe the solution you'd like
I'll create a list of **"Badges"** & also and a **Small Description** of the task related to it.
![Badge-edu](https://user-images.githubusercontent.com/55191777/114073123-8d7f3900-98c0-11eb-9ae5-02e8e8f0da14.png)

## Additional context
And would like

[2021-04-08 17:52] rajatgupta24 commented on #239
Hi @Abhishek-kumar09, can you assign this issue to me.

[2021-04-08 18:01] rajatgupta24 opened #240 "Job Opening page"
## Describe the bug
Hi, I think the job opening page is placed in the wrong place and we should create a different link like **Career** or **Get Involved**.

## To Reproduce

![image](https://user-images.githubusercontent.com/55191777/114074617-311d1900-98c2-11eb-9c41-db03df41d2b1.png)

## Expected behavior
There should be a link on the profile page for jobs

- OS: Firefox
- Browser: Linux (ubuntu

[2021-04-08 18:03] rajatgupta24 commented on #240
@Abhishek-kumar09, If you like the suggestion I'd like to get assigned.

[2021-04-09 05:42] sakshi-choudhary opened #241 "Fix: Breaking UI in Cards"
## Describe the bug

Overlapping cards in the classroom page

## To Reproduce

Steps to reproduce the behavior:

1. Go to profile options
2. Open classroom

## Expected behavior
There should some spacing in x-axis between the cards

## Environment (please complete the following information):

- OS: MacOS
- Browser: Chrome

## Additional context

Add any other context about the problem here.

**PRE

[2021-04-09 05:42] sakshi-choudhary commented on #241
@Abhishek-kumar09  I would like to fix this issue. Please assign this to me

[2021-04-09 11:43] adarsh-technocrat commented on #241
Hey @sakshi-choudhary than you can make changes here as well
![WhatsApp Image 2021-04-09 at 5 05 56 PM](https://user-images.githubusercontent.com/47661086/114174296-0ed4db00-9956-11eb-8517-cbc2ef92c829.jpeg)

[2021-04-09 12:21] sakshi-choudhary commented on #241
Sure, will do

[2021-04-09 12:22] #223 closed

[2021-04-09 16:14] adarsh-technocrat commented on #235
fix this issue via #214

[2021-04-09 16:14] #235 closed

[2021-04-09 18:41] faisaljamil25 opened #242 "Improve Bottom Navigation UI"
## Is your feature request related to a problem? Please describe.

The current bottom navigation doesn't look nicer. It can be improved by giving some border radius and shadows.

## Proposed Design

![Screenshot 2021-04-10 000930](https://user-images.githubusercontent.com/69186619/114226410-29787580-9991-11eb-89e4-eb1771af9069.png)

Any suggestions @Abhishek-kumar09

[2021-04-10 10:29] Abhijay007 opened #246 "contact us page in the Footer section"
## Is your feature request related to a problem? Please describe.

A contact page form by which user can contact org or codeForCause team in the case of any query and if he/she wants to report any bug or problem etc. the form contains student name, email, text filed (in which he/she explains the issue), number optional, etc.

Other than this on the contact form we can mention the organization's em

[2021-04-10 10:30] Abhijay007 commented on #246
@Abhishek-kumar09  i want to work on this

[2021-04-10 11:05] samad-yar-khan opened #247 "Fix : Fix the alignment of courseCard component for wider devices"
# Is your feature request related to a problem? Please describe
There is an inconsistency in the alignment of courseCard compoenent for wider screen sizes where the components becomes left aligned

![CoursesCards](https://user-images.githubusercontent.com/70485812/114267061-5d967980-9a17-11eb-8027-9bfac0537713.PNG)

# Describe the solution you'd like

Change the settings of the list items containi

[2021-04-10 11:28] samad-yar-khan commented on #247
@Abhishek-kumar09  I would like to fix this issue. Can you please assign this to me.

[2021-04-10 15:01] faisaljamil25 opened #248 "package-lock.json changes on npm install"
## Describe the bug

This is encountered by many developers. This is actually not a bug but this is happening due to the different versions of npm developers are using and when they try to `npm install`, the `lockfileVersion` changes from 1 to 2, and therefore `package-lock.json` also changes.

## Reason
In the recent version of npm i.e v7, a new Lockfile Format has been introduced to increase the

[2021-04-11 02:22] #247 closed

[2021-04-11 02:25] #234 closed

[2021-04-11 02:28] #135 closed

[2021-04-11 04:35] Abhijay007 commented on #165
@Abhishek-kumar09 can I work on this?

[2021-04-11 05:45] Jassi10000 opened #250 "Idea of Backend Migration to LoopBack or Next or Meteor"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

After thinking about the applciation in all aspects , one thing that came in my mind is the Edu-Client will one day be treated as a Production Level Application and thus I came up with this solution

## Describe the solution you'd like

A

[2021-04-11 10:43] karankv26 commented on #231
@rizwan2000rm @Abhishek-kumar09 I'll take care of this !

[2021-04-11 12:51] samad-yar-khan opened #251 "Add Bottom Nav Bar/Back Button to Individual Courses Page"
## Is your feature request related to a problem? Please describe.

The page which displays the contents of a users course doesn't display the bottom navigation bar nor there is a button to go back to the 'My Courses' page .This makes it impossible to go back without using the back button on the device/browser.

![before1](https://user-images.githubusercontent.com/70485812/114304485-082e9b00-9af1-1

[2021-04-11 12:55] samad-yar-khan opened #252 "Add Highlight feature for the selected video on the 'Individual Courses Page'"
## Is your feature request related to a problem? Please describe.

In the Individual Courses page there is no indication regarding the video which is currently selected . Even after clicking on the component there is no change .

![before1](https://user-images.githubusercontent.com/70485812/114304844-04037d00-9af3-11eb-8e58-e85b774e7142.PNG)

## Describe the solution you'd like

I would like to ad

[2021-04-11 12:57] samad-yar-khan commented on #252
@Abhishek-kumar09 I would like to work on this issue. Can you please assign this to me .

[2021-04-11 16:40] rohank2502 opened #254 "Add tech - stack section job card"
## Is your feature request related to a problem? Please describe.
Yes! Actually, in the job  card, there was no tech  stack mention so I will like to add the section tech stack to the job

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This will help the learner searching job find a job according to tech stack and also help us in the future to filter

[2021-04-11 17:48] rizwan2000rm commented on #231
@karankv26 Sure go ahead.

[2021-04-11 18:10] Abhijay007 opened #256 "Add functionality to delete items from the wishlist section"
## Is your feature request related to a problem? Please describe.

Add a user functionality to delete items/courses from the "Wishlist" section on click of that delete button.

## Additional context

![wishlist-section](https://user-images.githubusercontent.com/64387054/114316001-3a56f180-9b1f-11eb-8431-0d442a72c87d.gif)

[2021-04-12 05:57] sakshi-choudhary opened #257 "Class Announcements Screen"
##Feature
Create a class announcement page.
For each course bought by the student, there will be a page where the course instructor can post any announcement related to the course.
This page will open through the more options given in the course detail page.
There is already an option in the menu called "announcements".
So, this page will link through that.

[2021-04-12 05:58] sakshi-choudhary commented on #257
I would like to work on this @Abhishek-kumar09

[2021-04-12 15:43] Abhishek-kumar09 commented on #250
We are using nestJS as our backend.
That is edu-server app.

I am closing this issue for rest of issue management. If you have some confusions feel free to reopen it anytime.

[2021-04-12 15:43] #250 closed

[2021-04-12 16:48] samad-yar-khan commented on #251
@Abhishek-kumar09   I would lie to work on this  issue.

[2021-04-12 17:41] adarsh-technocrat opened #259 "Redesign UI of the contest page"
## Is your feature request related to a problem? Please describe.

**Proposed UI of the contest page**

<p align ="middle">
<img src="https://user-images.githubusercontent.com/47661086/114812862-811e4300-9dce-11eb-8a4d-c621b1e42997.png" hight="400" width="200"/>
<img src="https://user-images.githubusercontent.com/47661086/114811577-f4728580-9dcb-11eb-8d28-51ef258212b9.png" hight="400" width="200"/

[2021-04-12 17:43] adarsh-technocrat commented on #259
Hey, @Abhishek-kumar09  can you please assign this to me :)

[2021-04-12 21:07] Jassi10000 opened #260 "Use of APIs and libraries to integrate in Classroom in EduClient"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to add use of some API's and open source libraries to intergrate in the classroom feature of Edu-Client

## Describe the solution you'd like

A clear and concise description of what you want to happen.

Google has  provided the func

[2021-04-13 03:35] sakshi-choudhary opened #261 "Link to Rate Mentor Page"
## Is your feature request related to a problem? Please describe.

Currently, there is no option that links to rate the mentor page (the page is already created).

## Describe the solution you'd like

I want to add one more option here called as - Rate the mentor and link it to the rate mentor page.

<img src="https://user-images.githubusercontent.com/66865329/114492758-d58eba80-9c36-11eb-8086-a94

[2021-04-13 03:35] sakshi-choudhary commented on #261
@Abhishek-kumar09  Please assign this to me.

[2021-04-13 11:22] samad-yar-khan commented on #252
@Abhishek-kumar09  Just tagging again in case the comment has been missed . In case the issue is not significant or you guys are going for a different design aesthetic you can let me know :)

[2021-04-13 12:16] sakshi-choudhary commented on #259
@adarsh-technocrat  I don't think this design will be a good UX, people are more likely to scroll vertically than horizontally. In the current one, there's contests mentioned in list way, and its an accordion, you can put the leaderboard part and link it to the know more button which is there currently, also you can put timer part if you want. And no need for stats, stats PR #237 has been made alr

[2021-04-13 14:01] adarsh-technocrat commented on #259
Hey, @sakshi-choudhary  your point is right people are more likely to scroll vertically than horizontally but the idea is we are not showing the complete contests list on one screen but we are giving options to users to choose the contests according to their interest as I have given separate buttons for separate categories of contests and accordingly we can show a vertical list of ongoing and upco

[2021-04-14 06:28] #173 closed

[2021-04-14 20:09] adarsh-technocrat commented on #259
Any reverts on this proposed change @Abhishek-kumar09, @sakshi-choudhary?
waiting for approval :)

[2021-04-15 07:45] vasudev19126 commented on #240
@rajatgupta24 Yeah go ahead. I also thought that it was placed wrong.

[2021-04-15 08:16] Abhishek-kumar09 commented on #252
Sorry for the delay @samad-yar-khan
You can proceed with the feature, You already have the figma, please let me know if you need anything else.

[2021-04-15 08:20] Abhishek-kumar09 commented on #215
The things that are written on the idealist page, those are needed to be resolved prior to any extension. Some other feature development may go in parellel but this one specifically require some content in the app, that will be available in a better way once base features are implemented.

[2021-04-15 08:22] Abhishek-kumar09 commented on #211
Okay we can give the option to download some videos for offline access, but again it is not discussed with the other maintainers of the app.

We can also have option to cache pages to have better offline access.

[2021-04-15 08:23] Abhishek-kumar09 commented on #239
Where you are trying to add this badge please elaborate.

[2021-04-15 08:32] vasudev19126 commented on #261
@sakshi-choudhary  Yeah go ahead

[2021-04-15 11:30] vasudev19126 commented on #248
What Backward compatibility do you suggest for this? And Do you want to work on this issue

[2021-04-15 11:37] vasudev19126 commented on #260
@Jassi10000 How are you planning to implement this?

[2021-04-15 17:00] rajatgupta24 commented on #239
My Achievements section in profile page

[2021-04-15 19:17] #261 closed

[2021-04-15 20:35] #246 closed

[2021-04-16 03:09] poojadas07 opened #266 "Create design for About Us page"
## Is your feature request related to a problem? Please describe.

About us page contains different sections like Who we are , Our Vision & Mission , Our team members and small content about all these sections.

## Describe the solution you'd like

A new page (aboutus) located under the profile section .

[2021-04-16 03:10] poojadas07 commented on #266
@Abhishek-kumar09 Can I work on this?

[2021-04-16 06:43] vasudev19126 commented on #266
@poojadas07 Yeah go ahead.

[2021-04-16 07:46] sakshi-choudhary commented on #266
@vasudev19126 @poojadas07  I think an about us page already exist with our mission, team, etc.

[2021-04-16 07:53] vasudev19126 commented on #266
@poojadas07  you are replacing it to under the profile section, right?

[2021-04-16 07:54] poojadas07 commented on #266
Yeahh...I want to change the UI of About Page.

[2021-04-16 07:56] #224 closed

[2021-04-16 07:56] #179 closed

[2021-04-16 08:37] vasudev19126 commented on #266
@poojadas07 So what UI are you suggesting?

[2021-04-16 09:53] #178 closed

[2021-04-16 09:57] sakshi-choudhary commented on #152
Is someone still working on this? I would like to work on this @Abhishek-kumar09  @vasudev19126

[2021-04-16 10:41] vasudev19126 commented on #152
@sakshi-choudhary Yes, you can work on this. I think he is not active anymore.

[2021-04-16 18:30] vasudev19126 commented on #165
@Abhijay007 yeah, you can work on this.

[2021-04-18 10:40] adarsh-technocrat commented on #166
Hey @Abhishek-kumar09, @vasudev19126 I have designed the Gamification board please have a look would love to hear your feedback on this!

![Gamification Board1](https://user-images.githubusercontent.com/47661086/115142601-54815a00-a060-11eb-84ea-813c30ea2f57.png)

[2021-04-18 11:44] ADRE9 opened #269 "About Us page is Added in the React-Swipeable Routes"
## Describe the bug
The about us page has been added to the react-swipeable routes so when the user swipes right from the home page he/she gets stuck at the about us page.

## To Reproduce

Steps to reproduce the behavior:

1.Make the Route of About Us page outside the scope of react-swipeable routes.
2. Add a comment in the project to warn developers not to add any route in the scope of react-swi

[2021-04-18 11:51] ADRE9 opened #270 "The back button is not required."
## Describe the bug
The back button is not required and if also it is kept it should not work as a back button of browser that on getting clicked changes the page to the last visited page, since the UI of app dies using the back button and it looks for of a webapp.

## To Reproduce

Steps to reproduce the behavior:

1.To remove back button from the header
2.Or if not to attach the route of left pa

[2021-04-18 11:52] ADRE9 commented on #270
@Abhishek-kumar09  @KeenWarrior do you think the functionality of the back button well defined?

[2021-04-18 13:19] rizwan2000rm commented on #270
You are talking about the back button on Course Details Page ?

[2021-04-18 16:05] ADRE9 commented on #270
The one at the header at every page except the Home page.

[2021-04-18 16:06] ADRE9 commented on #269
@KeenWarrior can I solve this minor issue?

[2021-04-19 09:05] Abhishek-kumar09 commented on #269
Sure

[2021-04-19 09:29] adarsh-technocrat opened #272 "Required Minor Fixes to the application"
**Description**

There are some part of the application which required minor fixes and code refactoring like:-

1. fixing scroll to top in a peer discussion page,
2. Removing unnecessary UI elements like more vert icons on every app Bar which is not required except a few places where actual required!
3. fixing minor typo in the contest & stats page

[2021-04-19 10:36] Aksh-Bansal-dev opened #274 "Add UI Components in Storybook"
## Is your feature request related to a problem? Please describe.
Adding components in storybook will make it easier to create, test and debug components.

[2021-04-19 10:37] Aksh-Bansal-dev commented on #274
I would also like to work on this.

[2021-04-19 11:32] #269 closed

[2021-04-19 11:35] #272 closed

[2021-04-19 17:38] rajatgupta24 opened #276 "Repeated Code"
## Is your feature request related to a problem? Please describe.

Hey @Abhishek-kumar09, I noticed that we are writing the **top navigation** in each section page which is not preferable & using **Back Arrow** on pages like **wishlist**, **myCourses**, or **profile** doesn't make sense.

## Describe the solution you'd like

I think it's better to create a **component** for **top navigation** for

[2021-04-19 19:44] rizwan2000rm commented on #276
@rajatgupta24 I think the back button problem is mentioned in issue #270

[2021-04-19 20:40] rajatgupta24 commented on #276
Sorry didn't notice it before

[2021-04-20 07:58] Abhishek-kumar09 commented on #270
As you have thought the back is not needed on the MainLayout pages, since there is bottomNavigation to handle all those things.

But we will be needing back button on independent pages.

Is using `hisstory.goBack()` is making any problem for app UX @ADRE9

[2021-04-20 14:37] adarsh-technocrat commented on #196
Hey, @himanshu211raj  are you working on this issue?

[2021-04-20 15:19] dhwaj1902 opened #277 "Convert Scroll To Top button as a FAB"
Currently, the scroll to top button is at the bottom of the page, and we have to add ScrollToTop Component on every page separately.
Like this:
![image](https://user-images.githubusercontent.com/57860123/115421053-462a6e00-a219-11eb-8aac-906974826eb4.png)

There can be a FAB(Floating Action Button) at the right bottom side of the screen, which is activated whenever the screen scroll is greater tha

[2021-04-20 15:50] himanshu211raj commented on #196
Yes @adarsh-technocrat

[2021-04-20 16:40] ADRE9 commented on #270
Yes , that's okay for other pages but for the main pages that can b navigated through the bottom navigation the default behaviour must be to visit the left page instead of going back in history, I guess that's the default behaviour for the mobile applications.

[2021-04-21 04:10] rizwan2000rm commented on #277
Yes I think floating button would be nice.

Just make sure it doesn't appear until you actually scroll down.

[2021-04-21 04:53] adarsh-technocrat opened #279 "Adding referral section in profile page"
**Description**

The idea is to add a referral section on the Profile Page which will allow the user to share referrals and avale some kind of offer.
I think this could be a valid change because most of the education platform has this feature.

Here is a possible UI of the screen it could be changed accordingly as per the requirement.

<img src="https://user-images.githubusercontent.com/47661086/1

[2021-04-21 08:50] vasudev19126 commented on #279
@adarsh-technocrat  yeah, go ahead

[2021-04-21 15:11] Abhishek-kumar09 commented on #270
Totally Agree.

[2021-04-21 15:11] Abhishek-kumar09 commented on #270
Do you want to work on it?

[2021-04-21 20:33] ADRE9 commented on #270
Yes please , but should I remove it or should I just re-route to the previous pages?

[2021-04-22 09:23] #252 closed

[2021-04-22 14:31] #266 closed

[2021-04-22 15:03] #56 closed

[2021-04-22 15:07] #165 closed

[2021-04-22 16:53] Abhijay007 commented on #189
Is someone still working on this? I would like to work on this @Abhishek-kumar09 @vasudev19126

[2021-04-22 17:19] kritarthmehra commented on #189
Yes @Abhijay007 I'll be submitting a PR soon.

[2021-04-22 20:02] Abhijay007 commented on #189
Ok

On Thu, 22 Apr 2021, 22:49 kritarthmehra, ***@***.***> wrote:

[2021-04-23 16:42] poojadas07 opened #282 "Design for Edit Profile in Profile Page"
## Is your feature request related to a problem? Please describe.

Profile edit popup contain a form so that we can change the name , logo and email .

## Describe the solution you'd like
![edit](https://user-images.githubusercontent.com/66192403/115905090-3c0ba800-a483-11eb-90da-f9452398d427.PNG)

[2021-04-23 16:43] poojadas07 commented on #282
@Abhishek-kumar09 Please check and let me know !

[2021-04-23 16:58] poojadas07 commented on #282
![edit](https://user-images.githubusercontent.com/66192403/115905029-28f8d800-a483-11eb-8de1-ddd38a4b9891.PNG)

[2021-04-23 17:05] ravikr126 opened #283 "ADD CODE EDITOR"
## Is your feature request related to a problem? Please describe.

student needs to compile their code for program and contests.

## Describe the solution you'd like

I will add a code editor which can compile almost every programming language.

## Additional context

for additional features, I will add one save option and a download code option for participants.

please assign me this issue @Abhi

[2021-04-24 02:55] Abhishek-kumar09 commented on #282
Instead of popup we can try to make a new page for that.

[2021-04-24 03:31] poojadas07 commented on #282
Cool

[2021-04-24 04:01] sakshi-choudhary opened #285 "Fix Discussion Forum"
## Describe the bug

The UI/UX of the current discussion forum is quite bad.
I will fix and update the current UI and show posts and comments in a better manner.
- I’ll add file uploading option as well
- All Comments will open in a new page
- Search discussion by topic UI
- Filter discussion option

[2021-04-24 04:02] sakshi-choudhary commented on #285
Please assign this to me @Abhishek-kumar09

[2021-04-24 17:17] #279 closed

[2021-04-24 17:32] Abhishek-kumar09 commented on #270
remove it.

[2021-04-26 05:24] #282 closed

[2021-04-26 07:09] naveen8801 opened #291 "UI fix - Appbar of job opening page & Adding scroll to top button on Job opening page"
## Describe the bug

* Appbar present on Job Opening page has background and text colors which doesn't matches with general theme.
* There is no ' Scroll to Top Button ' on Job Opening page .

## To Reproduce

Visit Job Opening page present under Student Dashboard.

## Expected behavior

![job_opening_new](https://user-images.githubusercontent.com/54985099/116042447-0ab1f880-a68c-11eb-8de5-b398dea

[2021-04-26 07:10] naveen8801 commented on #291
hi @Abhishek-kumar09  , can i work on this :-)

[2021-04-26 15:05] adarsh-technocrat commented on #256
Hey, @Abhijay007  are you working on this issue? if not then I can go for making PR for this issue :)

[2021-04-26 15:23] Abhijay007 commented on #256
yes, @adarsh-technocrat I am working on it but No problem you can open a PR for this, As maybe we are both using different approaches. We will let mentors decide which code is more efficient.  they will merge code accordingly after review.

And one more thing I want to mention that when you write code for the DELETE wishlist component try to write code or ADD functionality as well :)

[2021-04-26 15:45] adarsh-technocrat commented on #256
oooh Great! no problem @Abhijay007 if you are stuck anywhere we can discuss the solution in this thread same goes for me 😊!

[2021-04-26 15:46] Abhijay007 commented on #256
ya ok 😊!!

[2021-04-26 18:04] Abhijay007 opened #292 "Create design for My Achievements page"
## Is your feature request related to a problem? Please describe.

A My achievements page where users can see his/her rankings and achievement level, discussion answered, assignments competed, his/her top scores, badges, etc.

## Describe the solution you'd like

Create a page UI for my achievement section under the profile section.

[2021-04-26 18:04] Abhijay007 commented on #292
@Abhishek-kumar09 can I work on this?

[2021-04-27 19:11] adarsh-technocrat opened #294 "fix horizontal scroll media card in Course Details section"
**Description**

https://user-images.githubusercontent.com/47661086/116298267-dfc5c280-a7b9-11eb-83d1-53e07cc8972b.mp4

[2021-04-27 19:29] #270 closed

[2021-04-27 19:35] #294 closed

[2021-04-28 07:45] poojadas07 opened #297 "Addition of Wishlist Icon for every course"
## Is your feature request related to a problem? Please describe.

I want to add one wishlist icon on every course description and save note icon should be there in the header.

## Describe the solution you'd like

https://user-images.githubusercontent.com/66192403/116366330-cf4a3200-a823-11eb-84a3-b9987b8e0c4c.mp4

[2021-04-28 07:46] poojadas07 commented on #297
@Abhishek-kumar09 Have a look and tell me.

[2021-04-28 10:17] sakshi-choudhary commented on #297
@poojadas07 I don't think add note option should be on the header, that's not a good UX. It should be as a floating action button only at bottom right, the way as it is right now.

[2021-04-28 10:23] sakshi-choudhary opened #298 "Develop About Course Page"
## Describe the solution you'd like

Develop an about course page.

## Additional context

The page will be linked to this option present currently in each course's more options.
<img width="300" src="https://user-images.githubusercontent.com/66865329/116412870-b60da980-a854-11eb-9b80-a8c247ede236.jpeg">

[2021-04-28 10:24] sakshi-choudhary commented on #298
@Abhishek-kumar09 @vasudev19126 Can I work on this?

[2021-04-28 14:01] vasudev19126 commented on #292
@Abhijay007 Yeah, go ahead.

[2021-04-28 14:03] vasudev19126 commented on #298
@sakshi-choudhary yes

[2021-04-28 14:12] Abhishek-kumar09 commented on #298
@sakshi-choudhary I think this is already desined, https://edu-client.netlify.app/course/2
Are you thinking something else?

[2021-04-28 14:14] Abhishek-kumar09 commented on #297
Adding a heart icon looks good to me.

[2021-04-28 14:19] sakshi-choudhary commented on #298
Okay, yeah but this for new users right? as there's an option to buy as well. So, do we need an about course page for enrolled students? as I saw this about course option the more options tab.

[2021-04-28 16:38] poojadas07 commented on #297
okay...

[2021-04-29 08:13] adarsh-technocrat opened #300 "Fix routing of about course section"
**Description**

As currently, we are routing to the About course section through the checkout button from the wishlist section I think that should not be the right position for routing to the about course page rather we can use the checkout button to route to the checkout section which is not used anywhere right now and by clicking course media card we can route to About course page.

Cc/ @Abhish

[2021-04-29 08:45] adarsh-technocrat commented on #298
Hey, @sakshi-choudhary  I don't think it will be a good idea for making a difference about course page route for this section rather what we can do is we can make that list to expanded and collapse list and show a summary of about course. This will also help users to see course details while attending the lectures.

Please let me know your thoughts on this :)

[2021-04-29 08:48] sakshi-choudhary commented on #298
Yes, a collapse will be fine.

[2021-04-29 09:18] sakshi-choudhary commented on #300
Yes, you are right the page should not be linked to the checkout button, but  by clicking course media card the page should open.

[2021-04-29 09:19] sakshi-choudhary opened #301 "Develop Buy Course Page"
## Describe the solution you'd like

Develop the buy course page given in the figma design, this will be linked to buy course button and checkout button.

## Design

<img src="https://user-images.githubusercontent.com/66865329/116528968-0d198a00-a8fa-11eb-9c2b-26f0597e5b8e.png" width="400">

[2021-04-29 09:19] sakshi-choudhary commented on #301
@Abhishek-kumar09 Please assign this to me

[2021-04-29 09:25] sakshi-choudhary commented on #300
<img width="404" alt="Screenshot 2021-04-29 at 14 48 18" src="https://user-images.githubusercontent.com/66865329/116529608-cc6e4080-a8fa-11eb-8166-e52f0162b165.png">
Also, these should be linked to the about course page. Please, do link these as well. @adarsh-technocrat
cc @Abhishek-kumar09

[2021-04-29 10:41] adarsh-technocrat commented on #301
Hey, @sakshi-choudhary we already have a checkout page UI ready just the thing is it's not linked to any button you check `Routes.js`   that's what I mentioned in issue #300.

[2021-04-29 10:46] #301 closed

[2021-04-30 17:04] Abhijay007 opened #303 "UI overflow on smaller devices"
## Describe the bug

A clear and concise description of what the bug is.

when we open the "peer page" on smaller devices (width between 320 to 360) then the "post something" pop out seems not aligned properly in the center it is slightly right or left based on the screen size, same with the referral page "social share pop-up".

## To Reproduce

Steps to reproduce the behavior:

1. go the peer pag

[2021-04-30 17:04] Abhijay007 commented on #303
Can I work on this?

[2021-04-30 18:45] #297 closed

[2021-05-02 09:10] naveen8801 commented on #300
Hi @adarsh-technocrat  @Abhishek-kumar09 can i work on this ?

[2021-05-02 09:23] adarsh-technocrat commented on #300
Hey @naveen8801  actually there is not major change to the issue and I have resolved this issue in my local system just need to push that I'll close this issue today :)

Thanks, @naveen8801  for your interest 😊

[2021-05-02 10:53] adarsh-technocrat commented on #300
Closed via #304

[2021-05-02 10:53] #300 closed

[2021-05-02 12:11] rohank2502 opened #305 "Enhancement in Edit Profile Page"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

I have made few changes in the wording of the edit profile section I find those little impressive

Change 1
Old :- Change Picture
New :- Change  Profile Picture

Change 2
Old :- LinkedIN
New :- LinkedIN URL

Change 3
Old :- Github
New :- Github URL

Change 4
Old :- Twitter
New :- Twitter Handle

[2021-05-02 12:36] rohank2502 opened #306 "Enhancement in Refer a friend section"
## Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have made few changes in the wording of the refer a friend section

Change 1
Old :- And you can both save 15% off on available courses.
New :- And you both can save 15% off on available courses.
Change 2
Old :- Then you get 15% off  🥳
Ne

[2021-05-02 16:48] rohank2502 commented on #292
Hey Please add space to showcase badges also!

[2021-05-02 18:56] #256 closed

[2021-05-04 11:25] adarsh-technocrat opened #308 "Add exit animation after deleting the Wishlist card"
## Describe the bug

The issue is after deleting the wishlist card there is no exit animation for visual feedback to the user. So that should be added to see if the wishlist card is deleted or not.

Cc/ @Abhishek-kumar09  , @vasudevsinghal

[2021-05-05 16:58] Abhijay007 commented on #292
ok, I will also add that 😊

[2021-05-06 11:03] adarsh-technocrat commented on #240
Hey, @rajatgupta24  are you working on this issue!

[2021-05-06 11:15] adarsh-technocrat commented on #292
Hey, @Abhijay007 I would suggest making a Figma design first because that will reduce any kind of rework right and get approval from @Abhishek-kumar09, @vasudevsinghal.

and if you need any kind of UI suggestion or help in the design part you can ping me anywhere. 😃

[2021-05-06 11:31] rohank2502 commented on #305
@Abhishek-kumar09

[2021-05-06 11:31] rohank2502 commented on #306
@Abhishek-kumar09  Please Give a Look

[2021-05-06 11:37] Abhijay007 commented on #292
Ya! sure @adarsh-technocrat you can share the Figma design here I will try my best to implement code accordingly. We can discuss ideas and changes in UI in this thread 😊

[2021-05-06 11:40] Abhijay007 commented on #189
@kritarthmehra are you still working on it?  if not, can I open a PR for this?

[2021-05-06 11:49] kritarthmehra commented on #189
@Abhijay007 Go for it.

[2021-05-06 17:28] adarsh-technocrat commented on #292
sure @Abhijay007 I'll let you know!

[2021-05-06 18:58] #303 closed

[2021-05-07 01:14] rajatgupta24 commented on #240
Yup, I've added this change in my PR it's currently in progress, due to some other issues.

[2021-05-07 03:01] Abhijay007 commented on #298
@sakshi-choudhary this issue is resolved by your PR (#309), I think you can close it now : )

[2021-05-07 04:14] adarsh-technocrat commented on #292
Hey, @Abhijay007  can you please list down the things that we need to put in the My Achievement section! One thing already mentioned is showcase badges.

[2021-05-07 05:09] Abhijay007 commented on #292
ok, @adarsh-technocrat so I think that first on the top we can make a section  where we can show profile pic,followers, and current achievement level, something like this:

![main profiler](https://user-images.githubusercontent.com/64387054/117400135-ab6fa600-af1f-11eb-9e5a-0d0ace763cd8.PNG)

followed by this we can add a div section in which we can show details as courses completed, discussion an

[2021-05-07 05:23] adarsh-technocrat commented on #292
Great! @Abhijay007 sounds good I'll make something according to my imagination including your lovely suggestions and further we have different iterations on it as I complete the UI  :)

let @Abhishek-kumar09  @vasudevsinghal  also put their thoughts on the same!

[2021-05-07 05:42] Abhijay007 commented on #292
Ya! sounds good!!

[2021-05-07 06:59] #298 closed

[2021-05-07 07:07] sakshi-choudhary opened #310 "feat: Links & Resources"
Develop a page for Links & Resources, I think we can combine these 2 in 1.

<img width="283" alt="Screenshot 2021-05-07 at 12 27 26" src="https://user-images.githubusercontent.com/66865329/117411121-de6e6580-af30-11eb-8e4d-35f3d768bed3.png">

This page will have all the links and resources in` pdf, doc, etc.` form, provided with the course.

[2021-05-07 07:08] sakshi-choudhary commented on #310
@Abhishek-kumar09 I would like to work on this.

[2021-05-07 10:10] Deveshb15 commented on #210
@Abhishek-kumar09 is this approved, if yes is anyone working on this? I would love to work on this!

[2021-05-07 15:21] adarsh-technocrat commented on #240
ooh, great  @rajatgupta24  :)

[2021-05-08 08:47] Abhishek-kumar09 commented on #306
Looks good, go on.
Don't change this:
[code]

[2021-05-08 08:55] Abhishek-kumar09 commented on #210
I guess it is harder to have code editor on mobile view. But making code editor is very important since it will help sharing code with others and doing code compilation.

What we can do is making a code layout for web view and make it responsive afterwards for mobiles.

Also the code changes should be done in https://github.com/codeforcauseorg/codeforcause.org since the edu-client is not accepting

[2021-05-08 08:58] Deveshb15 commented on #210
okay cool!

[2021-05-08 18:14] adarsh-technocrat opened #313 "Create a User Registration page with form validation"
**Suggested UI for the user registration page**

![Registration page](https://user-images.githubusercontent.com/47661086/117549177-7ca81b80-b056-11eb-852c-aec7982e5a22.png)

Cc/ @Abhishek-kumar09  @vasudevsinghal

[2021-05-08 18:16] adarsh-technocrat commented on #313
Hey, @Abhishek-kumar09  you can assign this issue to me!

[2021-05-08 22:03] being-vishal opened #314 "Issues in contributing.md file"
<img width="797" alt="contributingmd-issue" src="https://user-images.githubusercontent.com/79784161/117554718-0831a480-b077-11eb-8e6f-29ca40aba32f.png">

Space is absent in the above example and also there is a grammatical mistake on line 160 & 161.
Assign this issue to me I will fix this.

[2021-05-09 04:11] Abhijay007 commented on #313
@adarsh-technocrat I think this can be covered authentication part through firebase authentication service which includes both sign-up and sign-in option.

[2021-05-09 04:14] Abhijay007 commented on #285
@sakshi-choudhary this issue is resolved by your PR (#290), you can close it now :).

[2021-05-09 04:24] adarsh-technocrat commented on #152
Hey, @Abhishek-kumar09  we can close this issue!

[2021-05-09 04:27] #241 closed

[2021-05-09 04:27] #285 closed

[2021-05-09 04:29] adarsh-technocrat commented on #313
Yaa! @Abhijay007 actually project doesn't have that sign-in and sign-up page connected to the app right now so I thought of making this route and as those sections are up we can add this to it and further we can add phone Authentication as well :)

[2021-05-09 04:44] poojadas07 opened #315 "Recent Searches section in home page"
## Is your feature request related to a problem? Please describe.

Recent searches section in homepage.

## Describe the solution you'd like

I want to add one more section in home page which contains all the recent searches of the particular login user. Recent searches vary from user to user according to userId or userEmail.

[2021-05-09 12:34] poojadas07 commented on #315
@Abhishek-kumar09 I want to work on this. Please assign to me.

[2021-05-09 13:19] adarsh-technocrat commented on #292
Hey, @Abhijay007  actually I'm designing the UI here is the [Figma link](https://www.figma.com/file/pm7EIe6PM9j48fannjv8kr/My-Acheviment?node-id=0%3A1)  where you can see it :)

[2021-05-09 13:50] Abhijay007 commented on #292
ok, @adarsh-technocrat got it !! looks good 👍

[2021-05-09 14:24] adarsh-technocrat commented on #292
Hey, @Abhijay007 I think my achievement can be part of the gamification section because the things that we are putting in my achievement section it's a bit similar to those required in gamification section  #166 what your thoughts?

Cc/ @Abhishek-kumar09

[2021-05-09 14:55] Abhijay007 commented on #292
yes, @adarsh-technocrat these are quite similar but I believe that these issues can be break up into different PRs like we can make a separate leaderboard section instead of showing it as a part of the gamification or my achievements page and we can show raking of an individual on achievements page and we may also need to make a separate badge page to showcase an individual's performance. what I w

[2021-05-09 17:37] Abhishek-kumar09 commented on #315
This is a good feature to implement, but we can halt this for sometime.Just asking If you would like to work on the shadow portion of courses which are looking wierd (See the shadow of bottom of card).

[2021-05-09 17:40] Abhishek-kumar09 commented on #313
Bolds are looking wierd and textFields too, something that better fits with the theme will be better.

[2021-05-09 17:40] #152 closed

[2021-05-09 17:45] adarsh-technocrat commented on #313
Right! @Abhishek-kumar09 I have revised the design I'll share that one :)

[2021-05-09 19:59] adarsh-technocrat commented on #313
@Abhishek-kumar09  ping!

[2021-05-10 03:20] poojadas07 commented on #315
Okay....
Sure , I will work on the shadow of course card.

[2021-05-10 05:30] adarsh-technocrat commented on #315
Actually @poojadas07  @Abhishek-kumar09  there is already open PR for that #236 is this is not the right change?

[2021-05-10 06:24] adarsh-technocrat commented on #292
yaa! @Abhijay007 I think let mentor clear this thing because until and unless we get familiar with the workflow of the application we cant take decisions right! and the UI that I'm making is a bit off track as per the theme of the application I need to change that.
sorry for taking time for this :)

[2021-05-10 09:40] symaticvisuals opened #316 "Bottom Navigation Buttons"
The Bottom navigation buttons seems outdated instead we can use https://react-icons.github.io/react-icons.
Can I work on this?
![Screenshot (565)](https://user-images.githubusercontent.com/59753906/117639750-e41eb200-b1a1-11eb-847d-8eb849ce6155.png)

[2021-05-10 11:36] #310 closed

[2021-05-11 04:42] #316 closed

[2021-05-11 06:25] adarsh-technocrat opened #321 "Add skeleton UI component for loading state"
**Description**
The idea is to add the skeleton UI component with a shimmer effect as it's a common use case of the application, we will display this UI when we are fetching data from `API` in the loading state.

My approach would be to create a reusable component of the skeleton UI component so that we can use that anywhere in the application and can easily modify it.

Here is the sample about wh

[2021-05-11 10:43] sakshi-choudhary opened #322 "Make My Courses Page responsive"
I will make my Courses Page responsive.
I have created this figma mockup for tablet view.
<img width="442" alt="Screenshot 2021-05-11 at 16 18 10" src="https://user-images.githubusercontent.com/66865329/117804419-6330ea80-b275-11eb-8902-c6f53a122b4a.png">

[2021-05-11 10:44] sakshi-choudhary commented on #322
Let me know if we'll have app bar and bottom navigation bar in web app? @Abhishek-kumar09

[2021-05-11 13:16] sakshi-choudhary opened #324 "Develop Navbar for Web app"
## Is your feature request related to a problem? Please describe.

I'll develop a navbar component for the web app view. Whenever someone is making any page responsive they can use this navbar on that particular page for web app view.

## Describe the solution you'd like

This is a proposed design.

<img width="989" alt="Screenshot 2021-05-11 at 18 33 21" src="https://user-images.githubusercontent

[2021-05-11 18:07] adarsh-technocrat commented on #322
Are we thinking of making this application to support web UI? because currently, our primary focus is on the `android` part this change would introduce a complete change in the code base and I think this is not the right time to introduce this!

[2021-05-11 18:15] sakshi-choudhary commented on #322
I suppose you were not in the meeting yesterday? @adarsh-technocrat

[2021-05-11 18:21] adarsh-technocrat commented on #322
Aaa.. i was but I don't know if I missed something !!

[2021-05-11 20:52] Abhishek-kumar09 commented on #74
The current icons looks good to me, but if you want to change something you can land with a PR, will see that.

[2021-05-12 01:45] symaticvisuals commented on #74
Ok sure I will do it

[2021-05-12 03:13] Abhijay007 commented on #322
I missed the meeting because I don't get to know about it. Is there any recording or something that can help? any pdf or useful points from the meeting will also help :)

[2021-05-12 07:15] poojadas07 commented on #315
![home](https://user-images.githubusercontent.com/66192403/117934031-d5f6a000-b31f-11eb-8ca8-eaf2a0285190.PNG)
![courses](https://user-images.githubusercontent.com/66192403/117934042-d8f19080-b31f-11eb-8f16-d35dd60c8a73.PNG)
![wish](https://user-images.githubusercontent.com/66192403/117934047-db53ea80-b31f-11eb-8d24-0cb5eeb09c7b.PNG)

@Abhishek-kumar09 Please check !!

[2021-05-12 08:51] Abhijay007 commented on #292
@Abhishek-kumar09 can I implement this?

[2021-05-12 13:23] poojadas07 opened #326 "Course Description page responsive"
## Is your feature request related to a problem? Please describe.

I want to make course description page responsive for different screen sizes.

## Describe the solution you'd like

![desc](https://user-images.githubusercontent.com/66192403/117981915-1c192700-b353-11eb-843e-87b3eda77e8c.PNG)
![desc1](https://user-images.githubusercontent.com/66192403/117981932-1e7b8100-b353-11eb-8e7f-26c1ac6b5919

[2021-05-12 19:52] #189 closed

[2021-05-13 05:54] sakshi-choudhary commented on #322
You can ping me on discord @Abhijay007 I'll give you the meeting's brief :)

[2021-05-13 06:47] Abhijay007 commented on #322
ok, thanks @sakshi-choudhary I will ping you on discord :)

[2021-05-13 10:37] adarsh-technocrat commented on #326
Looks great @poojadas07 :)

[2021-05-13 19:06] adarsh-technocrat opened #329 "Adding Mock data to Application Component"
**Description**

The idea is to start implementing the mock data that has recently added to the project this will also help me to add the skeleton UI component where I will be adding the mock data to show the loading state in components and I think this approach will be better because as we get the actual API we can implement that easily without doing any major changes in the codebase.

[2021-05-13 19:18] adarsh-technocrat opened #330 "Adding Database support for performing CRUD operation for taking notes"
**Description**

There are two underlying issues in the talking notes section: -
-  Currently, we don't have any section for showing taken notes!
-  We need to discuss what will be the approach for storing the notes data we will be using the local database or will be using API for it !!

/Cc: @Abhishek-kumar09, @vasudevsinghal

[2021-05-14 02:23] adarsh-technocrat commented on #329
@Abhijay007, @Abhishek-kumar09, @vasudevsinghal  ping!

[2021-05-14 11:09] Abhijay007 opened #331 "multiple branches (disccussion)"
It is a discussion related to making separate branches.

***So why do we need separate branches?***

As we are working on the UI redesign and web responsiveness of the application, I suggest making two new branches based on the `main` branch. one branch for the web version and the second for New UI design.

***So what is the benefit of making separate branches?***

It will provide us consistency a

[2021-05-14 11:11] #314 closed

[2021-05-14 11:13] Abhijay007 commented on #331
@adarsh-technocrat @Abhishek-kumar09 @vasudevsinghal @sakshi-choudhary @poojadas07 what are your thoughts on this?
I raised this issue because i think that things may get bit messed up as we combining all things together right now which may shift our focus from the main App as we are getting some random PRs.

[2021-05-14 15:32] #321 closed

[2021-05-15 07:58] #315 closed

[2021-05-15 14:31] #242 closed

[2021-05-16 07:08] RohankumarM commented on #308
@Abhishek-kumar09 Can you assign this to me?

[2021-05-16 08:10] adarsh-technocrat commented on #308
Hey @RohankumarM   you can work on this issue :)

[2021-05-17 07:26] RohankumarM commented on #209
@Abhishek-kumar09 @Abhijay007 Could you let me know if the sign-in method using GitHub and Facebook is enabled in firebase authentication?

[2021-05-17 07:35] RohankumarM commented on #174
Hey @suubh,  I am already working on this.

[2021-05-17 08:06] Abhijay007 commented on #209
@RohankumarM we will let you know about it when we gonna implement it, we are currently planning to add an OTP option as well and making a new UI design for the authentication page because of which this issue is on hold for now.

[2021-05-17 08:10] RohankumarM commented on #209
That sounds great. Even I was thinking of OTP feature. When will I hear from you?

[2021-05-17 08:14] Abhijay007 commented on #209
@RohankumarM I don't know much about the implementation plans you may need to ask mentors about this.

[2021-05-18 06:41] rajatgupta24 opened #333 "Discussion Forum improvement"
## Is your feature request related to a problem? Please describe.
hey @Abhishek-kumar09, I'd like to work on the discussion forum as right now it is more like a static single page which might make it hard to use.

## Describe the solution you'd like
- I'd like to make different sections for all discussions & my discussions (in which I took part) to make it more classified.
- I'd like to create tag

[2021-05-18 06:42] rajatgupta24 commented on #333
Hey @Abhishek-kumar09, I'd like to make these changes.

[2021-05-18 06:48] rajatgupta24 commented on #240
Hey @adarsh-technocrat & @vasudevsinghal, I've added the link in the footer of the profile page, you can see it out in recent pull, so I'm closing this issue 😄

[2021-05-18 06:48] #240 closed

[2021-05-18 06:57] rajatgupta24 commented on #292
I also agree with @Abhijay007, On the achievements page, we can show the overall ranking of the user & things that can help him in improving it, whereas, on the badges page, we can show small tasks that users completed. I created a UI for badge page #239

[2021-05-19 05:54] Abhijay007 commented on #292
@rajatgupta24 , @adarsh-technocrat is working on a new UI design we can make PR according to that we are using a different approach this time, we are making a single profile section in which achievements page has a separate scrollable section.

[2021-05-19 05:55] Abhijay007 commented on #292
@rajatgupta24 , @adarsh-technocrat is working on a new UI design we can make PR according to that we are using a different approach this time, we are making a single profile section in which achievements page has a separate scrollable section.

[2021-05-20 07:35] Abhijay007 commented on #50
@aflah02 this issue is resolved from PR(#118) you can close it now :)

[2021-05-20 07:43] #50 closed

[2021-05-20 07:48] Abhijay007 commented on #9
@ArchishmanSengupta we are working on a new UI design in which the wishlist section is based on a different approach which may not contain any search bar I think yo can close this issue for now :)

[2021-05-20 07:49] Abhijay007 commented on #46
@ArchishmanSengupta I think this issue is already resolved you can close it now :)

[2021-05-20 13:48] Abhijay007 commented on #225
@adarsh-technocrat you can close this issue now as it is resolved :)

[2021-05-20 13:51] Abhijay007 commented on #153
@ayush19030  you can close this issue, as it was resolved in this PR (#237).

[2021-05-20 14:30] adarsh-technocrat commented on #225
Sure @Abhijay007 !!

[2021-05-20 14:30] #225 closed

[2021-05-20 16:34] #153 closed

[2021-05-21 05:11] Abhijay007 commented on #277
@dhwaj1902  you can close this issue now :)

[2021-05-21 05:12] Abhijay007 commented on #276
@rajatgupta24  you can close this issue now :)

[2021-05-21 05:14] #277 closed

[2021-05-21 05:19] Abhijay007 commented on #74
@symaticvisuals the application is on the redesign and as I know, we are making a new design for almost everything so we may need to redesign the bottom nav also. what you can do is to close this issue for now and once the design is completed you can suggest changes in that.

[2021-05-21 05:23] symaticvisuals commented on #74
Sure.

[2021-05-21 05:31] Abhijay007 commented on #174
@suubh,@RohankumarM there are two identical issues there this one and this (#209). what you both can and is to close one of these issues ( I suggest this one as that issue is approved ). you both can open different PRs for this after discussing with mentors and out of you two, whose code is more efficient mentors will merge that :)

[2021-05-21 17:24] huntr-helper opened #334 "🚨 Potential Improper Authentication"
👋 Hello, @Abhishek-kumar09, @Abhijay007, @adarsh-technocrat - a potential high severity Improper Authentication vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-codeforcauseorg/edu-client** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️

[2021-05-21 17:49] #334 closed

[2021-05-22 17:21] Abhishek-kumar09 commented on #333
Yes, we are creating design for this page, Will update you soon. I think we can have a group meeting to gather some thoughts from you and everyody else.

[2021-05-23 09:58] rajatgupta24 commented on #333
Good, I've a basic outline im mind, it'd be great to discuss.

[2021-05-23 09:59] #276 closed

[2021-05-26 08:35] adarsh-technocrat opened #336 "Add Classroom and Doubt forum feature"
### Description
The proposal is focusing on adding Classroom and doubt forum feature in the application

The proposal is part of the GSoC 2021 project.

#### TODO's

* [ ]  **Phase 1**

   * [x]  Week 1
       * [x]  Complete figma Design for mobile devices
       * [x]  Complete figma Design for iPads and Desktops
   * [x]  Week 2
       * [x]  Full code cleanup and remove any component that are

[2021-05-26 08:41] adarsh-technocrat commented on #336
Hey, @Abhishek-kumar09  add this issue to the milestone I'll keep updating the issue with the weekly deliverables and what all we need to achieve in **phase 1**  and **phase 2**  in brief !!

[2021-05-26 17:54] RohankumarM opened #339 "AI powered search"
I am thinking of using GCP's video intelligence api(uses REST API) to train some of the courses video and try to make the search term accurate for the users.

So, whenever a user searches for like "authentication using nodejs" then it will display bunch of courses where one of the course video is teaching how to do that.

[2021-05-26 17:58] RohankumarM commented on #77
@Itsaadarsh I hope you and your family are in great health. Just reaching to check with you about any updates on this feature? Just curious. :)

[2021-05-28 09:25] harkiratsm commented on #339
@RohankumarM  actually I been working on REST API can u guide regarding this issue

[2021-05-29 21:28] Abhishek-kumar09 commented on #330
Okay, can discuss in next meetups.

[2021-05-30 11:56] RohankumarM commented on #339
@harkiratsm Yeah what is it?

[2021-05-31 07:38] santu-2024 commented on #324
Would it cover the full desktop space on a web page?

[2021-05-31 18:28] #9 closed

[2021-05-31 18:28] #46 closed

[2021-06-02 06:40] ritik-vashist opened #346 "To give an option of logout Button in navbar after successful login of a user."
## I explored this website and found a issue in navbar.

I login successfully with my G-mail account in website but then too navbar shows the option to sign in and sign up.
If i would get an option to log-out there that would be more clear to the user to logout successfully from this application.

[2021-06-02 06:44] ritik-vashist commented on #346
I request @Abhishek-kumar09 @vasudevsinghal to look this issue if they find its a valid issue can assign this work to me.

[2021-06-04 10:11] Abhishek-kumar09 commented on #346
That button is under development, If you want to work on that let me know

[2021-06-04 10:28] harkiratsm opened #349 "Adding a custom Scroll bar"
Adding a custom scroll bar on the page would make website more interactive.

[2021-06-04 19:32] ritik-vashist commented on #346
@Abhishek-kumar09  yes sir, i want to work on it.

Can you please tell me little about the special tech it's using?. So that i can explore things in that specific direction only.
And resolve this issue as soon as possible.

[2021-06-04 20:36] ritik-vashist commented on #346
@Abhishek-kumar09  sir, i want to work on it.
It's almost half done. It would be great help if you assign this task to me.

[2021-06-07 18:21] Abhijay007 opened #356 "Text overlapping and UI inconsistency in the mobile view of "our impact "section of home page"
## Describe the bug

A clear and concise description of what the bug is.

A text overlapping between the text and card in the "our impact" section exists in the desktop view of the application.

![desktop overlapping](https://user-images.githubusercontent.com/64387054/121068505-fd8b3c00-c7e9-11eb-8c3f-639344882217.PNG)

Also in mobile view, stats card placing looks a bit inconsistent, I think plac

[2021-06-14 05:45] #324 closed

[2021-06-16 18:23] forkbikash opened #363 "Missing space between words in CONTRIBUTING.md & improve CONTRIBUTING.md"
## Describe the bug

1. There should be space between 'repository' and 'new-issue' in CONTRIBUTING.md.
![1](https://user-images.githubusercontent.com/70908998/122271369-f4daea00-cefc-11eb-8b81-7f2afd7367d2.png)

2. There should be 'cd edu-client' after cloning the repository.
![2](https://user-images.githubusercontent.com/70908998/122271963-a548ee00-cefd-11eb-9d7e-be5c96ac83cb.png)

## Expected be

[2021-06-17 13:20] niteshseram commented on #349
Hello, is this issue needed to be fixed? If yes, can I work on this?

[2021-06-20 23:06] Abhishek-kumar09 opened #365 "Delay in removing the loginScreen if the user is already signed In"
## Describe the bug

Even if the user is signed in, the user is directed to Login page and remain there for some seconds that get directed elsewhere
# Expected Behaviour
Almost No waiting time

## Environment (please complete the following information):

- OS: Ubuntu 20.04
- Browser: Firefox

[2021-06-21 19:22] adarsh-technocrat commented on #365
issue fixed via #364

[2021-06-22 16:13] #365 closed

[2021-06-25 18:54] #363 closed

[2021-06-26 17:46] adarsh-technocrat commented on #349
Hey, @niteshseram  do you want to work on this issue!

[2021-06-26 19:49] niteshseram commented on #349
@adarsh-technocrat yes

[2021-06-27 05:33] adarsh-technocrat commented on #349
Go ahead @niteshseram :)

[2021-06-27 05:35] #349 closed

[2021-06-27 05:39] adarsh-technocrat commented on #349
Any reasons for closing this issue @harkiratsm?

[2021-06-27 05:43] adarsh-technocrat commented on #308
issue fix via #332

[2021-06-27 05:43] #308 closed

[2021-06-30 17:38] Abhijay007 opened #374 "SVG overlapping in Profile page "Activity" section"
## Describe the bug

A clear and concise description of what the bug is.

In the Profile page "Activity " section the SVG image in the individual card is overplaing the text in the card.

## To Reproduce

Steps to reproduce the behavior:

1. open the Profile page
2. Switch to the "Activity" section
3. Scroll down to the individual card.

## Environment (please complete the following information):

[2021-07-01 12:26] adarsh-technocrat commented on #356
Hey, @Abhijay007 I think we have resolved this issue  !!

[2021-07-01 17:43] Abhijay007 commented on #356
closed #356 via #361

[2021-07-01 17:43] #356 closed

[2021-07-02 19:34] #374 closed

[2021-07-08 15:30] Abhijay007 opened #378 "SVG overlapping text in "our impact section""
## Describe the bug

A clear and concise description of what the bug is.

SVG overlapping text in "our impact section " of the home page.

## To Reproduce

Steps to reproduce the behavior:

1. sign in to the site
2. open the home page
3. scroll down to "our impact section"

## Expected behavior

A clear and concise description of what you expected to happen.

set overlay effect to avoid overlappin

[2021-07-12 11:44] kushal98 opened #380 "Scroll Preserve on route change"
## Describe the bug

When a user navigates from one route to the other the browser is preserving the scroll.

## To Reproduce

Steps to reproduce the behaviour:

1. After landing into home page, scroll down a bit.
2. Click on My Courses or any other tab.
3. The scroll gets preserved.

## Expected behaviour

On change of the route the user should be landed on the top of the page instead of the pres

[2021-07-12 11:44] kushal98 commented on #380
Please assign this to me

Thank you

[2021-07-18 15:29] Abhijay007 opened #383 "Text Wrap and improper alignment in "Dashboard" page"
## Describe the bug

A clear and concise description of what the bug is.

Text Wrap and improper alignment in scored card and assignment sections under "Dashboard" page.

## To Reproduce

Steps to reproduce the behavior:

1. open application go to the Dashboard page of the application

## Environment (please complete the following information):

- OS: windows 10
- Browser: Chrome

## Additional co

[2021-07-19 07:49] #380 closed

[2021-07-25 12:01] perveen-neha commented on #383
i would like to work on this issue could you please help me

[2021-07-31 21:12] abhishek2x opened #389 "Cropped text in Gamification Board page"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behaviour:

1. open Gamification page of the application

## Expected behavior

The text should not be cropped

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information)

[2021-07-31 21:12] abhishek2x commented on #389
I want to work on this issue

[2021-08-01 15:31] deepshetye opened #391 "Buttom navigation goes slight out of view"
## Bottom Navigation buttons in mobile view

While going through pages i noticed that in mobile screen the bottom navigation buttons were going slightly out of the view.

![image](https://i.imgur.com/Z6eBUq8.png)

## Environment (please complete the following information):

- OS: Linux Ubuntu
- Browser: Tried on Chrome, Brave, Firefox

## Additional context
I'm new to open source and really lookin

[2021-08-09 20:12] #391 closed

[2021-08-12 09:34] #378 closed

[2021-08-19 09:05] abhishek2x commented on #389
@adarsh-technocrat can you please look into this?

[2021-08-19 09:31] adarsh-technocrat commented on #389
Hi, @abhishek2x   can you please provide for which screen size you made this change! and it would be better if you could provide the output of the change that you made :)

[2021-08-19 09:59] abhishek2x commented on #389
Sure, here are the required screenshots for different screen sizes.

**Breakpoint: 755px**

#### For width >= 755px

![image](https://user-images.githubusercontent.com/53976003/130049150-66415ec0-a73b-4ac7-b6b6-f7522ab140fa.png)

#### For width < 755px

![image](https://user-images.githubusercontent.com/53976003/130049264-7aae2e5d-073d-473a-a721-9f2c0ce04555.png)

[2021-08-19 10:24] adarsh-technocrat commented on #389
Hey, @abhishek2x  the change looks great but the thing is you have hardcoded the screen width right and that is what @Abhishek-kumar09  has mentioned in the PR  we can find either different way to solve this issue and those breakpoints are filled with some custom values either you can play with those values   **theme/index.js**

[2021-08-19 11:57] abhishek2x commented on #389
Alright, I'll figure out a way around and update the PR.
Thanks!

[2021-08-24 15:39] #389 closed

[2021-08-27 07:46] Abhishek-kumar09 opened #396 "Add email password Authentication through Firebase"
Currently only google auth is supported thorugh Firebase, but we need to change to add support for email password authentication with verification.

Web: https://firebase.google.com/docs/auth/web/email-link-auth?authuser=0
Mobile: https://firebase.google.com/docs/auth/android/email-link-auth?authuser=0
iOS: https://firebase.google.com/docs/auth/ios/email-link-auth?authuser=0

[2021-08-28 14:25] Abhishek-kumar09 commented on #396
@YashKamboj You can take it :smile:

[2021-08-31 16:14] Abhishek-kumar09 opened #397 "BLANK ISSUE"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.
4.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):

[2021-08-31 16:19] #397 closed

[2021-09-04 15:15] Abhijay007 opened #399 "Text Font, Text Size, Text color, erase it are not changing according to the selection in post doubt forum."
## Describe the bug

Features like Text font change, Text color, Text Size, Eraser are not changing accordingly to the selection in the post doubt forum. not changing in preview.

## To Reproduce

Steps to reproduce the behavior:

1. click on the forum
2. click on start discussion
3. enter text and select font, size, color in the given option
4. post discussion

## Expected behavior

changes accor

[2021-09-04 15:16] Abhijay007 commented on #399
can I work on it?

[2021-09-04 15:37] adarsh-technocrat commented on #399
Sure @Abhijay007  go ahead :)

[2021-09-04 15:41] adarsh-technocrat commented on #399
@Abhijay007  they do change the thing is you need to select the specific text that you want to change !

[2021-09-04 15:48] adarsh-technocrat commented on #399
@Abhijay007  we have used [Draf.js](https://draftjs.org/) here you can quickly checkout  documentation

[2021-09-04 15:52] #336 closed

[2021-09-04 15:53] #259 closed

[2021-09-04 17:05] Abhijay007 commented on #399
yes, it is working but I think that the "eraser feature" is not working even after selection. And thanks for pointing it out I will raise other issues soon.

[2021-09-04 17:05] Abhijay007 commented on #399
sure :)

[2021-09-04 17:48] Abhijay007 opened #400 "Redirected to the "Home page" on reloading page"
## Describe the bug

when the user reloading the "wishlist" and " post doubt" page in order to see the latest result then it will redirect user to the home page.

## To Reproduce

Steps to reproduce the behavior:

1. open the website click on the wishlist section and refresh the page.

## Expected behavior

update the results on refresh.

## Environment (please complete the following information):

[2021-09-05 08:20] Abhijay007 opened #401 "Doubt forum is not responsive"
## Describe the bug

The doubt forum is not responsive, the start discussion component is aligned to the extreme right of the page.

## To Reproduce

Steps to reproduce the behavior:

1. open the website click on the "forum" scroll down

## Environment (please complete the following information):

- OS: Windows 10
- Browser: chrome

## Additional context

![doubt forum](https://user-images.githubu

[2021-09-05 08:26] Abhishek-kumar09 commented on #401
Thanks @Abhijay007 Would you like to work on it too?

[2021-09-05 08:27] Abhijay007 commented on #401
yes

[2021-09-05 08:27] Abhishek-kumar09 commented on #400
@adarsh-technocrat Is it because due to the redirection code we are using where we are pushing people to home (Intented for login/logout check)?

[2021-09-05 08:28] Abhishek-kumar09 commented on #401
Thanks @Abhijay007

[2021-09-05 08:31] adarsh-technocrat commented on #400
Yes @Abhishek-kumar09  this because of protected routes code !

[2021-09-05 08:33] adarsh-technocrat commented on #400
@Abhishek-kumar09  i'll work on  this  issue :)

[2021-09-05 08:40] adarsh-technocrat opened #402 "Loading time issue - talking to much time to display server data"
## Describe the bug

Currently fetching data from server is taking lot of time.

## Expected behavior

  Fetching Data  should not take more than  2 to 3 seconds

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following informatio

[2021-09-08 05:50] yashvardhan05 commented on #401
Can i work on this issue?

[2021-09-08 05:52] yashvardhan05 commented on #400
Can i work on this?

[2021-09-08 05:59] adarsh-technocrat commented on #400
sure @yashvardhan05  :)

[2021-09-08 06:01] adarsh-technocrat commented on #400
Hey, @yashvardhan05  please let me know if you are stuck anywhere :)

[2021-09-08 06:02] adarsh-technocrat commented on #401
Sure @yashvardhan05  =)

[2021-09-08 10:55] yashvardhan05 commented on #401
I am not understanding the issue properly, can you please help me with that?

[2021-09-08 11:11] yashvardhan05 opened #404 "Dark Theme Feature Needed To Be Implement"
There is feature Theme feature  for choosing theme of a website which is dark or white, but when choose to select any of it nothings gets implemented.

https://user-images.githubusercontent.com/69848853/132499159-24efdb78-70fe-4f17-923d-a4eec8b5fef7.mov

Here's the Screen recording for that
The desired Output :
The desired output should be any of the theme should be implemented when we use the the

[2021-09-08 12:06] adarsh-technocrat commented on #401
Yeah, sure  @yashvardhan05  let me know if you have any doubts !!

[2021-09-08 12:29] Abhijay007 commented on #401
@yashvardhan05 I can help you to understand the codebase and issue you can ping me here on discord : my discord username and id  :abhijay007#3182 :)

[2021-09-08 17:34] Abhijay007 opened #405 "Course page is not responsive in mobile view."
## Describe the bug

A clear and concise description of what the bug is.

The course page is not responsive in mobile view, buttons and some other elements(text overlapping ) are not aligned properly in the mobile view.

## To Reproduce

Steps to reproduce the behavior:

1. Open the website click on the featured courses
2. go the course page
3. scroll down

## Environment (please complete the foll

[2021-09-08 17:34] Abhijay007 commented on #405
can I work on this issue?

[2021-09-09 15:14] adarsh-technocrat commented on #405
sure @Abhijay007  :)

[2021-09-10 03:21] yashvardhan05 commented on #401
Sorry for tuning in late, i've sent you friend request on Discord Btw

[2021-09-10 08:06] Nis-chal-Jain commented on #402
I think we can compress the images to decrease the loading time.

[2021-09-10 09:21] Nis-chal-Jain opened #406 "The footer of the web page is not directing to the respective pages."
### Describe The Bug
In the end of the web page the social media icons and the Explore, about and the community all are not redirecting us to the respective sites when clicked upon it.

### How to reproduce.
Steps to reproduce the behavior:

- Open the website .
- Go to the end of the web page.
- Try to select the social media icons/ redirecting links of footer.

### Expected Behavior
  Redirect t